img{
    max-width:100%;
}
.sidebar-heading h5 ,.sidebar-heading h5 a {    color: rgba(255, 255, 255, 0.4)!important;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    display:block;
    margin-top:0.5rem;
    }
.sidebar-heading h5{color:#fff!important;}
.card .border-left-info{
 margin-top:   10px;
 margin-bottom:20px;
}
.card-body img{
    border:2px solid #ccdae0  ;
}
.breadcumbs ul, .breadcumbs li{
    list-style-type: none;
    display:inline-block;
}
.breadcumbs li:not(:first-child):before{
    content:'>';
}
h3{color:#9acb66;}
h4{color: #9acb66; }
.next-link{float:right;}
.previous-link{float:left;}
.makeGrey{color:#bbb;}
.newLine{display:block;}
.flex{display:flex;}
.middle{width:100%;text-align:center;}
.blueBorder, .blueBorder td{ border: 1px solid #002a54!important;}
.blueBorder td{padding:10px;}
.blueBorder{ margin-top: 10px;margin-bottom: 10px; border-radius: 1em 0  0 1em;
  overflow: hidden;background-color:#eee;}
.blueBorder td:nth-child(1){ background-color: #bbb!important;
    color: #fff; }
    
    
    .sub-menu-link-headings li a{
        display:inline-block;
    width:100%;
    height:100%;
      -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
    padding: 30px;
}
.sub-menu-link-headings li a:hover{
    text-decoration:none;
}
.sub-menu-link-headings li:hover{
    background-color:#efefef;
    
}
.card-header .makeMid i{
    color:#B7B8C1;
}
.card-header h2{
color: #002a54 ;
}
.cbp-ig-grid h3{
color: #47A3DA    !important;
}
.sub-menu-link-headings li{list-style-type: none;
    border: 1px solid #eee;
    width: 30%;
      -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
    text-align: center;
    float: left;}
.makeMid{text-align:center;}
.makeMid i{font-size: 120px;
    padding: 35px 0px;

    }
    /*-------CLEAN WHITE SIDEBAR------------------------*/
    .bg-gradient-primary {
    background-color: rgba(0,0,0,0)!important;
     background-image: none!important;
    }
    .sidebar-heading h5,
    .sidebar-brand-text,
    .navbar-nav .fa, 
    .navbar-nav .fas, 
    .navbar-nav .nav-link{
     color:  #002a54!important; 
    }
    .navbar-nav .nav-link{
 margin: 5px !important;
    }
    .sidebar .nav-item {
    background-color: #fff !important;
   
            -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
        margin-bottom: 7px;
    border-radius: 5px;
    }