<form class="form-inline mr-auto w-100 navbar-search" action="{{ __SELF__.searchPage | page }}?q={{ query | url_encode(true) }}" method="get">
    <div class="ss-search-form input-group">
        <div class="ss-search-form__input">
            <input name="q" class="form-control bg-light border-0 small" type="text" placeholder="What are you looking for?" 
                   value="{{ __SELF__.query }}"
                   autocomplete="off"
                   autofocus
                    {% if __SELF__.useAutoComplete %}
                        data-track-input
                        data-request="{{ __SELF__ }}::onType"
                        data-request-before-update="document.getElementById('autocomplete-results').classList.add('ss-search-form__results--visible')"
                        data-request-update="'{{ __SELF__ }}::autocomplete': '#autocomplete-results'"
                    {% endif %}
            ><div class="input-group-append" style="display: inline-block;">
            <button class="btn btn-primary ss-search-form__submit" type="submit"><i class="fas fa-search fa-sm"></i></button>
            </div>
        </div>
        <div class="ss-search-form__results" id="autocomplete-results"></div>
    </div>
</form>
