[staticBreadcrumbs]

[staticPage]
useContent = 1
default = 1

[staticMenu]
code = "champion-help"

[siteSearchInclude]

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "search-results.htm"
==
<?php
function onStart()
{
    $this['search_query'] = get('q', $default = null);
    // current page url
    $parent = $this->page['apiBag']['staticPage']->getParent();
    $url = $this->page['apiBag']['staticPage']['viewBag']['url'];

    $currentPage = null;
    if($parent) {
        $children = $parent->getChildren();
        foreach( $children as $key => $page){
            if($page['viewBag']['url'] == $url) $currentPage = $key;
        }

        // previous page
        if ( array_key_exists($currentPage - 1, $children) ) {
            $this['prev_url'] = $children[$currentPage - 1]['viewBag']['url'];
            $this['prev_title'] = $children[$currentPage -1 ]['viewBag']['title'];
        }

        if ( array_key_exists($currentPage + 1, $children) ) {
            $this['next_url'] = $children[$currentPage + 1]['viewBag']['url'];
            $this['next_title'] = $children[$currentPage + 1]['viewBag']['title'];
        }
    // parent page
    $this['parent_title'] = $parent['viewBag']['title'];
    $this['parent_url'] = $parent['viewBag']['url'];
    }
}
?>
==
{% partial 'head' %}

  <!-- Page Wrapper -->
  <div id="wrapper">

   {% partial 'sidebar' %}
   
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

       {% partial 'navbar' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading 
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 breadcumbs">{% component 'staticBreadcrumbs' %}</h1>

          </div>-->

          

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                {% set parent = page.getParent() %}
                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-{% if 
                 parent.title == "Platform Overview" %}desktop{% elseif 
                 parent.title=="Program Settings" %}calendar-day{% elseif 
                 parent.title=="Resources" %}file-pdf{% elseif 
                 parent.title=="Applications" %}check-square{% elseif 
                 parent.title=="Groups" %}users{% elseif 
                 parent.title=="Participant Accounts" %}user{% elseif 
                 parent.title=="Communications" %}satellite-dish{% elseif 
                 parent.title=="Matching" %}handshake{% elseif 
                 parent.title=="Surveys" %}poll{% elseif 
                 parent.title=="Transfering Participants" %}truck-moving{% elseif
                 parent.title=="Accessibility Settings" %}universal-access{% else
                 %}question{% endif %}"></i>
                   {{ this.page.title }} </h6>
                  
                </div>
                <div class="card-body">
                <!-- Card Body -->
                {% component 'staticPage' %}
                {% if prev_title|length > 0 %}
<div class="linkButton"><a href="../../../coh{{ prev_url }}" class="previous-link"><span class="makeGrey">&lt; &lt; Previous topic</span><span class="newLine">{{ prev_title }}</span></a></div>
{% endif%}

{% if next_title|length > 0 %}
<div class="linkButton"><a href="../../../coh{{ next_url }}" class="next-link"><span class="makeGrey">Next topic &gt; &gt;</span><span class="newLine">{{ next_title }}</span></a></div>
{% endif%}
                </div>
              </div>
            </div>

            
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      

{% partial 'foot' %}