[menu]

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1

[staticBreadcrumbs]

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "champion-help"
==
{% partial 'head' %}

  <!-- Page Wrapper -->
  <div id="wrapper">


   
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

       {% partial 'navbar' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
        <!-- ----------------------------------------------------------->
  
  <link href="../../../coh/themes/art-mentoring-help/assets/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../../coh/themes/art-mentoring-help/assets/css/sb-admin-2.css" rel="stylesheet">
<link href="../../../coh/themes/art-mentoring-help/assets/aom.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../../coh/themes/art-mentoring-help/assets/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../../../coh/themes/art-mentoring-help/assets/css/component.css" />
		<script src="../../../coh/themes/art-mentoring-help/assets/js/modernizr.custom.js"></script>
		<style>
	.cbp-ig-title	.fa,.cbp-ig-title .fas {
		    padding-top: 30px;
padding-bottom: 20px;
    font-size: 40px;
}
.topic-tile{
 border: 1px solid  #B7B8C1;  
 padding:15px;
 padding-left:30px;
 margin:10px;
 height: 95%;
}
.cbp-ig-grid li > a:hover .cbp-ig-icon {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}
.cbp-ig-title , .topic-links a{
color: #666;
}
.topic-links a:hover{
    text-decoration:none;
    color:#002a54 ;
}

.main {
    width: 100%!important; 
}
		</style>
	</head>
	<body>
	
		<div class="container">
			<header class="clearfix">
				<span><img src="storage/app/media/AoM-bullet.png" style="max-width: 94px;
    margin-right: 40px;" />Art of Mentoring - Champion Help Topics</span>
				
			</header>	
			<div class="row">
				
				{% set count = 0 %}
			
                {% for item in staticMenu.menuItems %}
                {% if item.title != this.page.title  %}
                    {% set count = count + 1 %}
					<div class="col-md-4"><div class="topic-tile">
						
						<h3 class="cbp-ig-title">	<i class="fas fa-fw fa-{% if count == 1 %}desktop{% elseif count==2 %}calendar-day{% elseif count==3 %}file-pdf{% elseif count==4 %}check-square{% elseif count==5 %}users{% elseif count==6 %}user{% elseif count==7 %}satellite-dish{% elseif count==8 %}handshake{% elseif count==9 %}poll{% elseif count==10 %}truck-moving{% elseif count==11 %}universal-access{% else %}question-circle{% endif %}"></i>
							{{ item.title }}</h3>
							
						 
                               
                    
                        {% if item.items %}
                            {% for childItem in item.items %}
                                <p class="topic-links">
                                    <a href="{{ childItem.url }}">{{ childItem.title }}</a>
                                </p>
                            {% endfor %}
                        {% endif %}
      
               
           
					</div></div>
					{% endif %}
				{% endfor %}
			
			</div>
		</div>
                </div>
              </div>
            </div>

            
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      

{% partial 'foot' %}