[menu]

[siteSearchInclude]

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1

[staticBreadcrumbs]

[staticMenu]
code = "champion-help"

[staticPage]
useContent = 1
default = 0
==
{% partial 'head' %}

  <!-- Page Wrapper -->
  <div id="wrapper">

   {% partial 'sidebar' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
{% partial 'navbar' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading 
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 breadcumbs">{% component 'staticBreadcrumbs' %}</h1>

          </div>-->

          

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                   <div class="row" style="    width: 100%;">
                <div class="col-md-12 makeMid">
                 <i class="fas fa-fw fa-{% if 
                 this.page.title == "Platform Overview" %}desktop{% elseif 
                 this.page.title=="Program Settings" %}calendar-day{% elseif 
                 this.page.title=="Resources" %}file-pdf{% elseif 
                 this.page.title=="Applications" %}check-square{% elseif 
                 this.page.title=="Groups" %}users{% elseif 
                 this.page.title=="Participant Accounts" %}user{% elseif 
                 this.page.title=="Communications" %}satellite-dish{% elseif 
                 this.page.title=="Matching" %}handshake{% elseif 
                 this.page.title=="Surveys" %}poll{% elseif 
                 this.page.title=="Transfering Participants" %}truck-moving{% elseif
                 this.page.title=="Accessibility Settings" %}universal-access{% else
                 %}question{% endif %}"></i>
                 </div>
                 <div class="col-md-12 makeMid">
                 <h2>{{ this.page.title }} </h2>
                 </div>
                </div>
                  
                </div>
                <div class="card-body">
                <!-- Card Body -->
                {% component 'staticPage' %}
               
                <p class="makeMid">We found the following topics under {{ this.page.title }}</p>
<style>

</style>
   {% if staticMenu.menuItems %}
                <ul class="sub-menu-link-headings">
                    {% for item in staticMenu.menuItems %}
                    {%if item.title == this.page.title %}
                        {% if item.items %}
                            {% for childItem in item.items %}
                                <li class="{{ childItem.isActive ? 'active' : '' }}">
                                    <a href="{{ childItem.url }}">{{ childItem.title }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}



                {% if prev_title|length > 0 %}
<div class="linkButton"><a href="../../../coh{{ prev_url }}" class="previous-link"><span class="makeGrey">&lt; &lt; Previous topic</span><span class="newLine">{{ prev_title }}</span></a></div>
{% endif%}

{% if next_title|length > 0 %}
<div class="linkButton"><a href="../../../coh{{ next_url }}" class="next-link"><span class="makeGrey">Next topic &gt; &gt;</span><span class="newLine">{{ next_title }}</span></a></div>
{% endif%}
                </div>
              </div>
            </div>

            
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

     
{% partial 'foot' %}