[viewBag]
==
<div class="rainlab-forum">

    
        {% set count = 0 %}
        {% for channel in channels %}
        {% set count = count + 1 %}
        <li class="nav-item">






            <a class="nav-link" aria-controls="collapse{{ count }}"  href="#" data-toggle="collapse" data-target="#collapse{{ count }}" aria-expanded="{{ channel.isActive or channel.isChildActive ? 'true' : 'false' }}" aria-controls="collapse{{ count }}"><i class="fas fa-fw fa-{% if count == 1 %}desktop{% elseif count==2 %}calendar-day{% elseif
                 count==3 %}file-pdf{% elseif count==4 %}check-square{% elseif count==5 %}users{% elseif count==6 %}user{% elseif count==7
                     %}satellite-dish{% elseif count==8 %}handshake{% elseif count==9 %}poll{% elseif count==10 %}truck-moving{% elseif count==11
                         %}question{% elseif count==2 %}{% endif %}"></i>
                    <span>{{ channel.title }}</span>
                  </a>
              

            {% if channel.relations.children %}
            <div id="collapse{{ count }}" class="collapse {{ channel.isActive or channel.isChildActive ? 'show' : '' }}" aria-labelledby="heading{{ count }}" data-parent="#accordionSidebar" style="">
                    <div class="bg-white py-2 collapse-inner rounded">
                   
                {% for channel in channel.children %}
                <a class="collapse-item" href="{{ channel.url }}">{{ channel.title }}</a>
                                
                            {% if channel.children|length %}
                                {% for channel in channel.children %}
                                <a class="collapse-item" href="{{ channel.url }}"> - {{ channel.title }}</a>
                                        {% endfor %}
                               
                            {% endif %}
                       
                {% endfor %}
            </li>  
            {% else %}
                <tr>
                    <td colspan="100"><p>There are no channels to show.</p></td>
                </tr>
            {% endif %}

        {% endfor %}
    
</div>