[viewBag]
==
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Art of Mentoring">
        <title>Art of Mentoring - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />

  <!-- Custom fonts for this template-->
  
  <link href="../../../coh/themes/art-mentoring-help/assets/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../../../coh/themes/art-mentoring-help/assets/css/sb-admin-2.css" rel="stylesheet">
<link href="../../../coh/themes/art-mentoring-help/assets/aom.css" rel="stylesheet" type="text/css">
</head>

<body id="page-top">