[viewBag]
==
{% set count = 0 %}
{% for item in items %}
{% set count = count + 1 %}
{% if item.title != 'All Topics' %}
<li class="nav-item">
        <a class="nav-link {{ item.isActive or item.isChildActive ? '' : 'collapsed' }}" href="#" data-toggle="collapse" data-target="#collapse{{ count }}" aria-expanded="{{ item.isActive or item.isChildActive ? 'true' : 'false' }}" aria-controls="collapse{{ count }}">
          <i class="fas fa-fw fa-{% if count == 1 %}desktop{% elseif count==2 %}calendar-day{% elseif count==3 %}file-pdf{% elseif count==4 %}check-square{% elseif count==5 %}users{% elseif count==6 %}user{% elseif count==7 %}satellite-dish{% elseif count==8 %}handshake{% elseif count==9 %}poll{% elseif count==10 %}truck-moving{% elseif count==11 %}universal-access{% endif %}"></i>
          <span>{{ item.title }}</span>
        </a>
        <div id="collapse{{ count }}" class="collapse {{ item.isActive or item.isChildActive ? 'show' : '' }}" aria-labelledby="heading{{ count }}" data-parent="#accordionSidebar" style="">
          <div class="bg-white py-2 collapse-inner rounded">
          {% if item.items %}
            <!--<h6 class="collapse-header">Available help:</h6>-->
            
            {% for subitem in item.items %}
            <a class="collapse-item  {{ subitem.isActive  ?  'active' : ''}}" href="{{ subitem.url }}">{{ subitem.title }}</a>
            {% endfor %}
        {% endif %}

          </div>
        </div>
      </li>
      {% endif %}
{% endfor %}