[viewBag]
==
<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../../coh/">
        <div class="sidebar-brand-icon">
          <img src="../../../coh/storage/app/media/AoM-bullet.png" style="max-width: 100%;" />
        </div>
        <div class="sidebar-brand-text mx-3">Art of Mentoring </div>
      </a>

      <!-- Divider -->
      

      <!-- Nav Item - Dashboard -->


      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Heading -->
      <div class="sidebar-heading">
    <h5>    Champion Guides </h5>
    
    
      </div>
      <hr class="sidebar-divider my-0">
     <!--<div class="sidebar-heading"> <h5><a href="../../../coh/forum"> FAQs FORUM </a></h5></div>
      <hr class="sidebar-divider my-0">-->
      <p style="text-align:center;">Topics:</p>
{% partial 'menu-items' items=staticMenu.menuItems class='nav navbar-nav' %} 
      <!-- Nav Item - Pages Collapse Menu -->
      

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->