title = "Search Results"
url = "/search-results"
is_hidden = 0

[searchResults]
resultsPerPage = 10
showProviderBadge = 1
noResultsMessage = "Your search returned no results."
visitPageMessage = "Visit page"

[staticBreadcrumbs]

[staticMenu]
code = "champion-help"

[staticPage]
useContent = 1
default = 0

[menu]
==
{% partial 'head' %}

  <!-- Page Wrapper -->
  <div id="wrapper">

   {% partial 'sidebar' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
{% partial 'navbar' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

<h1>Search results</h1>
{% component 'searchResults' %}
                </div>
              </div>
            </div>

            
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      

{% partial 'foot' %}