[viewBag]
title = "WCAG Compliance"
url = "/accessibility-settings/wcag-compliance"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Ensuring WCAG compliance for your participants</h2>
<p>Art of Mentoring takes accessibility seriously, and we have designed our platform to be useable by as many people as possible. In order to gain full compliance of your program’s Participant Portal with the WCAG (Web Content Accessibility Guidelines) specifications, there are a number of settings that need to be considered. If you have elected to use a compliant (accessible) version of the Art of Mentoring Participant Portal, some of these settings will work right out of the box (default settings), there are some settings that are in your control to adjust, and there are some settings that you will need to request your CSM (Client Success Manager) alter for you. </p><p>
Please note, this Guide relates only to how to ensure accessibility of the Participant Portal; not the Champion Portal, which is not covered by WCAG compliance.</p>
<h2>What makes your program’s portal WCAG compliant? – Default settings</h2>
<p>Art of Mentoring has set up your program by default to include transcripts of video tutorials, and downloadable alternatives to many of the video resources. We have also developed the entire Participant Portal with ease of use in mind, so some of the WCAG requirements have been included as they represent best practice. For example, there are many people who are unable to navigate a website using a mouse and instead interact with websites using a keyboard alone or perhaps a screen reader which “reads” the website to the user. In these cases, it is important that the website can accommodate for this interaction. Art of Mentoring has worked hard to ensure that all images, buttons and links within the website are correctly labelled for these interactions. As all this happens behind the scenes; most people remain blissfully unaware that these features are even there.
</p>