[viewBag]
title = "Choosing Colours"
url = "/accessibility-settings/choosing-colours"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Choosing a colour scheme</h2>
<p>Art of Mentoring makes colour selection for compliance easy. When selecting either a primary or secondary colour, messages are displayed on screen to indicate the suitability of your choice in reference to the WCAG defined standard, shown in combination with white. The messages will not block combinations and should be seen as “information only”. However it can pay to make the program as accessible as possible, so we recommend choosing colours that comply.</p>
<img src="../storage/app/media/wcag/colourChoose.png" /><br>
<h2><br>How is the colour scheme used in your new Participant Portal?</h2>
</p>It can be helpful to know where your chosen colours will be used. The primary colour will become the main heading colour and will also be used in the footer of the site. The secondary colour is used for buttons in the site which are generally blocks of colour with white text. Your secondary colour can often appear more prominent than the primary colour, so you may want to consider what this means for the branding of your program’s Participant Portal.
</p>
<img src="../storage/app/media/wcag/primsec.png" /><br>
<h2><br>Where will these colours appear in the Champion Portal</h2>
</p>These same two colours appear in your administration view, which we call the Champion Portal. In the left hand menu bar, the secondary colour is used to highlight a menu selection which otherwise has a background of the primary colour. This is illustrated on the next page.
</p>
<br>
<h2>What colours will work well together?</h2>
<div class="row">
<p class="col-md-6">There are an almost infinite number of colour combinations that will work well. It is usually best to pick a strong dark colour rather than a light colour. A grey used as the primary colour will work well with any highlight (secondary) colour. Remember the primary colour is also the colour of your headings, so often a dark grey can be a good choice here. The table on the right shows a number of sample colours and the corresponding hex codes which would be WCAG compliant for use as colour choices in the Participant Portal.
</p>
<p  class="col-md-6"> <img src="../storage/app/media/wcag/colourPalette.png" /></p></div>