[viewBag]
title = "Example Colours"
url = "/accessibility-settings/example-colours"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<p>The following images show some sample platforms using the above sample colours. Each of the pages is identical in layout, with only the logo and colours changed. Your choice will typically be guided by your logo in some way but there is always scope to use these colour tones and remain compliant.</p>
<img src="../storage/app/media/wcag/fiveSamples.png" />
<br>
<p>The above are examples of how WCAG compliant colours could work in the Participant Portal. A good choice of colours will also work well for you in the Champion Portal. One of those example schemes (Primary #727272 and Secondary #00799b) has been selected for the image below; it shows the Champion Portal appearance when selecting that same colour scheme.</p>
<img src="../storage/app/media/wcag/chrome_2019-08-01_16-23-27.png" />
<br>
<p>For further information regarding colour combinations in a WCAG compliant setting, visit </p><p>
<a href="https://webaim.org/resources/contrastchecker/" target ="_blank">https://webaim.org/resources/contrastchecker/</a>

</p>