[viewBag]
title = "Compliance Settings"
url = "/accessibility-settings/compliance-settings"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<p>When a user interacts with a website using only a keyboard, they typically use the tab key on their keyboard to cycle through possible links incrementally. An accessible site uses outline and underline to make it easier to see which buttons are currently active (which is also called having focus). Some form elements such as check boxes may also look a little different.</p>

<img src="../storage/app/media/wcag/compliantFocus.png" />
<br><p>Art of Mentoring offers three different tiers of WCAG compliance for individual programs. None of these tiers remove the compliance of images and links, but instead refer to additional elements such as the handling of focus within the website. Your CSM will need to make this change for you, but this setting can be safely applied to pre-existing programs without issue.
</p><p>The three compliance setting options are:
</p>
<ol>
<li><strong>Full compliance</strong> takes the WCAG selection out of the hands of individual Participants and enforces a site wide, fully compliant interface to all users and all interactions within the Participant Portal. </li>
<li><strong>Non-compliance</strong> leaves the default structure in place. Individual Participants cannot opt for an accessible view if they need it. </li>
<li><strong>Opt-in compliance</strong> allows individual users to select the level of compliance they are comfortable with. This selection can be made by Participants when creating an account (below left) and be changed at any time from the profile tab (below right). A Participant will have two options, being Compliant or Non-Compliant.</li>
</ol>
<div class="row">
<div class="col-md-6">
<img src="../storage/app/media/wcag/opt-inPre.png" />
</div>
<div class="col-md-6">
<img src="../storage/app/media/wcag/opt-in.png" />
</div>
</div>
<p>If you have any further questions about making your Art of Mentoring Participant Portal WCAG compliant don’t hesitate to speak with your CSM. They can change these settings for you as required. For further information about the WCAG guidelines visit</p>
<p><a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target ="_blank">https://www.w3.org/WAI/standards-guidelines/wcag/</a>