[viewBag]
title = "Colour Contrasts"
url = "/accessibility-settings/colour-contrasts"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Colour contrast selection</h2>

<p>When selecting colours it is important to be mindful of how the colour will be used in your program. Much of the time you will confined to corporate colour schemes, however choosing shades of those colours, or deliberately choosing the darker of two colours can make a huge difference to the site’s readability. For example, light colours behind white text can make the text very difficult to read, particularly for people who have issues with their eyesight. There are guidelines to determine the contrast ratio of two colours, and there are multiple levels of attaining compliance within these guidelines. To simplify things, in order to attain WCAG level AA, a contrast ratio of at least 4.5:1 must be achieved between a paragraph text colour and its background. To illustrate this, there are three examples shown in the following tables to demonstrate different levels of contrast and therefore levels of compliance with the WCAG standards. As mentioned earlier, these standards have a number of categories depending on the text size or general use of the element within the page.</p>

<p><img src="../storage/app/media/wcag/example%20contrasts.png" class="fr-fic fr-dii"></p>

<p>While combination C is readable, it is considered more of a strain on the eyes than is comfortable for most people, particularly for extended periods. Because of this, it would fail general compliance testing.</p>

<p>The examples pass/fail across different Compliance Levels:</p>

<table class="tg" style="undefined;table-layout: fixed; width: 560px;">
	<thead>
		<tr>
			<th class="tg-0pky">
				<br>Compliance Level</th>
			<th class="tg-c3ow">A
				<br>#191978</th>
			<th class="tg-c3ow">B
				<br>#4c4ccd</th>
			<th class="tg-c3ow">C
				<br>#9c9ce2</th>
		</tr>
	</thead>
	<colgroup>
		<col style="width: 371px;">
			<col style="width: 90px;">
				<col style="width: 90px;">
					<col style="width: 90px;">
	</colgroup>
	<tbody>
		<tr>
			<td class="tg-14zz">Contrast Ratio (compared with white)</td>
			<td class="tg-aktf">14.46:1</td>
			<td class="tg-aktf">6.51:1</td>
			<td class="tg-aktf">2.54:1</td>
		</tr>
		<tr>
			<td class="tg-0pky">Normal Text AA</td>
			<td class="tg-dxle">Pass</td>
			<td class="tg-dxle">Pass</td>
			<td class="tg-dxqr">Fail</td>
		</tr>
		<tr>
			<td class="tg-0pky">Normal Text AAA</td>
			<td class="tg-dxle">Pass</td>
			<td class="tg-dxqr">Fail</td>
			<td class="tg-dxqr">Fail</td>
		</tr>
		<tr>
			<td class="tg-0pky">Large Text AA <span style="font-style:italic;">(typically 24px) or larger</span></td>
			<td class="tg-dxle">Pass</td>
			<td class="tg-dxle">Pass</td>
			<td class="tg-dxqr">Fail</td>
		</tr>
		<tr>
			<td class="tg-0pky">Large Text AAA <span style="font-style:italic;">(typically 24px) or larger</span></td>
			<td class="tg-dxle">Pass</td>
			<td class="tg-dxle">Pass</td>
			<td class="tg-dxqr">Fail</td>
		</tr>
		<tr>
			<td class="tg-0pky">Graphical Object AA</td>
			<td class="tg-dxle">Pass</td>
			<td class="tg-dxle">Pass</td>
			<td class="tg-dxqr">Fail</td>
		</tr>
	</tbody>
</table>