[viewBag]
title = "Reviewing Responses"
url = "/applications/reviewing-responses"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<p>Reviewing a Participants’ Responses</p>

<p>As a Champion, you can enter into an individual’s profile to see the responses they have given in their application. When reviewing this information, Matching Questions are presented in a bold type face to more clearly distinguish them from the rest of the application. See image below.</p>

<p><img src="../../../coh/storage/app/media/applications/participantDetail.jpg" class="fr-fic fr-dii"></p>