[viewBag]
title = "Text Questions"
url = "/applications/text-questions"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Adding a Text Only Question</h2>

<p>Text Questions are useful for obtaining details from your Participants which may not be used by the Matching Algorithm, but are useful for you as a Champion overseeing the Matching Process and interesting for the mentoring partner to know. They can hold a maximum of 500 characters and as such, can hold reasonably long responses to questions.</p>

<p><img src="../../../coh/storage/app/media/applications/chrome_2018-11-08_12-37-56.png" class="fr-fic fr-dii"></p>