[viewBag]
title = "Questions Types"
url = "/applications/questions-types"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>The Four Types of Application Questions</h2>

<p>When creating an Application it is likely that you will have a template in your Application Page to use as a starting point. This is here to help save you some time however it is expected that you will need to make customisations to this Application to best suit your needs.</p>

<p>There are four Question Types:</p>

<ul>
	<li>Single Text Box</li>
	<li>Multiple Choice</li>
	<li>Multiple Choice – Matching</li>
	<li>Rating Scale</li>
</ul>

<p>There are only five (5) Multiple Choice Matching Questions permitted on an application, and this is why you must design your matching strategy first and Application Questions accordingly. We are often asked why we don’t allow more than five – imagine if you had 100 matching questions, how hard it would be to find any 2 people who match!! Mentoring partners don’t have to be “perfect matches” in every way, and we have found that 5 well-thought-out and relevant questions are effective in most cases at finding a good mentoring partner. Matching Questions can each be allocated a “Weight” between 1.0 (very important in the matching process) and 0.1 (not so important). The Matching Algorithm will do most of the work for you, provided you have designed your Application in a manner that is optimised for your needs.</p>

<p>It is important to understand however, that non-matching questions can also be used to facilitate the matching process through the use of other features such as Groups.</p>