[viewBag]
title = "What Participants See"
url = "/applications/what-participants-see"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>What the Participants Will See</h2>

<p>When a Participant signs up to your Program, they will see a simple step-by-step interface with one question at a time. They will not see any difference between matching and non-matching questions.</p>

<p><img src="../../../coh/storage/app/media/applications/chrome_2018-11-08_13-12-39.png" class="fr-fic fr-dii"><img src="../../../coh/storage/app/media/applications/participantView.png" class="fr-fic fr-dii"></p>

<p>Depending on how you have structured your Application, your Participants may be able to select more than one option in some questions, as shown below.</p>

<p><img src="../../../coh/storage/app/media/applications/chrome_2018-11-08_13-11-56.png" class="fr-fic fr-dii"></p>

<p>Once complete, a Participant finishes their application by clicking the Complete Button. They are then prompted to add some other details which may be useful such as Skype username, and profile pictures. These are obviously not needed all of the time but are mentioned at the completion of the application process.</p>

<p>Participants have, at this point, provided you with everything you need in order to make meaningful matches between Mentees and their most appropriate Mentors.</p>

<p><img src="../../../coh/storage/app/media/applications/chrome_2018-11-08_13-13-08.png" class="fr-fic fr-dii"></p>