[viewBag]
title = "Editing Applications"
url = "/applications/editing-applications"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Editing Your Application</h2>

<p>Use the <strong>Cross</strong> to remove unwanted questions, or scroll to the bottom to Add Questions to your Application.</p>

<p>Questions can also be re-ordered within your Application as desired using the drag-and-drop interface.</p>

<p><img src="../../../coh/storage/app/media/applications/addQuestion.png" class="fr-fic fr-dii"></p>

<p>Shown on the following page is a section of an Application as it is seen from the Champion Portal (in View mode). Each of the four question types are shown. If changes are needed from this point, simply click on the Edit Button to enter the Application Edit Screen.</p>

<p><img src="../../../coh/storage/app/media/applications/questionTypes.png" class="fr-fic fr-dii"></p>