[viewBag]
title = "Planning"
url = "/applications/planning"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Planning Your Program’s Applications</h2>

<p>The Art of Mentoring platform uses applications to gather information about prospective Mentees and Mentors, which can be used to find a compatible Mentoring Partner. When beginning a new program, it is important to plan out exactly how you will match Mentees and Mentors, what shared characteristics or criteria will be used to match each person with the best Mentoring Partner, right through to the last pair. In order to have a good understanding of how to create Applications, it is a good idea to familiarise yourself with Groups and Matching before starting your program’s Mentor and Mentee applications. You can identify people who are compatible using a combination of these tools. Having a well-designed Application means you have all the information you need, in the right structure, to use these methods in combination. For this reason, it is crucial that you read and understand the Guides on Groups and Matching before/in conjunction with this Applications Guide.</p>

<p>Start (designing your Applications) with the end (Matching strategy) in mind!</p>

<p>First time Champions can often underestimate the value of using Filtered Groups to find people with similar circumstances, thereby limiting the search for a match. This is not possible, however, unless you ask the right questions from the beginning. If you don’t have the Groups or Matching Guides, contact your CSM (Client Success Manager) and ask for a copy.</p>

<p>Each program is different, and the cases set out in this section are designed to give you an understanding of functionality rather than specific solutions. Again, your CSM is the best person to answer these questions.</p>
<div class="col-xl-12 col-md-12 mb-12">
	<div class="card border-left-info shadow h-100 py-2">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="text-xs font-weight-bold text-info text-uppercase mb-1">It is strongly recommended that you do not edit your Application once you have opened your Mentee and Mentor Applications to new registrations.</div>
			</div>
		</div>
	</div>
</div>

<p>
	<br>
</p>

<p>Once you set Applications to “Open” in order to allow for Participants to begin registering, we consider the Program to have “gone live”. Editing an Application after a Program has gone live can mean that Participants need to revisit the Platform to answer questions which were not previously there, or even possibly losing answers as a result of chosen options having been removed.</p>