[viewBag]
title = "Multiple Choice Questions"
url = "/applications/multiple-choice-questions"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Adding a Multiple Choice Question</h2>

<p>Multiple Choice Questions are similar to Matching Questions however because they do not have to “match” across both the Mentee and Mentor Application they tend to be much more straight forward. Again, multiple responses can be enabled here but remember to also change the number “1” to the desired maximum number of responses you would like to select. There is no upper limit on this, and Multiple Choice Questions also allow for an optional “Other” as a text field entry at the end.</p>

<p><img src="../../../coh/storage/app/media/applications/multipleChoice.png" class="fr-fic fr-dii"></p>