[viewBag]
title = "Visibility Settings"
url = "/applications/visibility-settings"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>After Matching - Participant Visibility Settings</h2>

<p>Typically, once matched, a Participant can review their match’s details, which are made available to them in the Participant Portal. This includes their contact details, but also their application responses. There are times when information is collected for the purposes of matching that should not be shown to the Participant’s Matched Partner. Participant Visibility Settings can be used to limit which parts of an application are displayed to the Mentoring Partner. These settings can be found (from the Application Page) by clicking on the Settings Button. Simply un-check the question number to hide those details. As always, remember to click Save in order to retain your changes.</p>

<p>See the image on the following page for more information on this setting.</p>

<p><img src="../../../coh/storage/app/media/applications/visibilitySettings.png" class="fr-fic fr-dii"></p>

<p>These settings will take effect immediately after clicking the Save button.</p>

<p>The Participant Visibility Settings are a Program-wide setting in that they cannot be enabled or disabled for an individual Participant.</p>