[viewBag]
title = "Applications"
url = "/applications/applications"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>What Does an Application Look Like?</h2>

<p><img src="../../../coh/storage/app/media/applications/applicationScreen.png" class="fr-fic fr-dii"></p>

<p>When you first open the Application Page by clicking on <strong>Program &gt; Application</strong> you will see something like the screen above. Note that even though they are connected, the Mentee and Mentor questions are edited separately. Matching questions are an exception to this, and editing them in either Application will affect both Mentee and Mentor Applications.</p>