[viewBag]
title = "Rating Scale Questions"
url = "/applications/rating-scale-questions"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Adding a Rating Scale Question</h2>

<p>Rating Scales can also be very useful and are most commonly used for obtaining numerous yes/no and other types of simple responses from Participants. A maximum of six questions is allowed, with up to six responses each. To add or remove values, simply click the icons as shown below.</p>

<p><img src="../../../coh/storage/app/media/applications/ratingScale.png" class="fr-fic fr-dii"></p>