[viewBag]
title = "Matching Questions"
url = "/applications/matching-questions"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Adding a Matching Question</h2>

<p>At first, a Matching Question can look very large and complicated. There are 3 steps. When you create a Matching Question:</p>

<ol>
	<li>Enter the wording for both Mentee and Mentor versions of the question,</li>
	<li>Enter the answer options available to the Mentee and those available to the Mentor, and</li>
	<li>Specify which Mentee options “match” with which Mentor options.</li>
</ol>

<p>In the example shown, a Champion has chosen to let the Matching Algorithm perform matching based on a Participant’s location. Note that for each of the available options, a corresponding option is selected. At times, you will want multiple options (e.g. for the Mentor) to be compatible to a single value(e.g. for the Mentee). This is perfectly fine as well. Once again, this is where the design process comes in and your CSM can help facilitate a design which will best suit your needs.</p>

<p>Due to the need for Matching Questions to align perfectly, an “Other” option is not provided as an option.</p>

<p><img src="../../../coh/storage/app/media/applications/matchingQuestions.png" class="fr-fic fr-dii"></p>