[viewBag]
title = "Communications"
url = "/communications/communications"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Platform Communications</h2>

<p>There are a number of areas within the Art of Mentoring Platform which are designed to handle the communications needed to run a successful mentoring program. There are also a number of system communications which occur behind the scenes (such as password reset emails) that cannot be edited by Champions, these system communications will not be covered in this section.</p>

<p>The two main types of communications to be covered in this guide are Messages and Scheduled Communications. Both of these trigger an email which is both sent to the recipient’s email address and also duplicated as an internal communication which is visible once that person logs in to their Mentoring Portal. System communications (password reset emails etc) are typically not duplicated as internal communications and are sent as emails only.</p>

<p>Messages are an instant message sent to one or more people within the program from the Champions Portal.</p>

<p>Scheduled Communications are messages which are set up in advance to be triggered to send either on a certain date, or a specified number of Days or Weeks after the individual was matched with a Mentee/Mentor.</p>

<p>To manage Program Communications, click Communications on the left-hand side. This is essentially a snapshot of all messages in and out of the platform. You can reply to messages here and see exactly what has been sent to your Mentees and Mentors.</p>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_10-09-01.png" class="fr-fic fr-dii"></p>