[viewBag]
title = "Editing or Creating"
url = "/communications/editing-or-creating"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Editing or Creating a Communication</h2>

<p>This section will explain the WYSISWG (What You See Is What You Get) editor provided throughout the Art of Mentoring Platform.</p>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_16-58-54.png" class="fr-fic fr-dii"></p>

<p>Like many similar tools, you can use this editor to make basic customizations to your messages throughout the platform. Below is a brief explanation of the features provided by each of the toolbar elements. At times, formatting can be lost or altered when copying and pasting from the Web, or Word Documents. Take care to check your message after doing so to ensure you are happy with the content.</p>

<h4>The Toolbar</h4>

<p>The first section of the toolbar contains some basic text style tools. These are likely to be quite familiar to many users and are similar to other text editing web interfaces.</p>

<h3>Text Tools</h3>

<table>
	<tbody>
		<tr>
			<td width="40%"><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_17-07-48.png" class="fr-fic fr-dii"></td>
			<td>

				<h3>Font Selection</h3>Allows for a choice between a number of standard web fonts. Highlight an area of text and use the drop-down to apply a different font.
				<br>
			</td>
		</tr>
		<tr>
			<td><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_17-08-10.png" class="fr-fic fr-dii"></td>
			<td>

				<h3>Text Size</h3>Choose between a number of different text sizes. Highlight an area of text and use the drop-down to apply a different font size.
				<br>
			</td>
		</tr>
		<tr>
			<td><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_17-08-24.png" class="fr-fic fr-dii"></td>
			<td>

				<h3>Font Style</h3>Use this feature to apply a style such as bold, italic, underlined or strike-through. Select an area of text and use the drop-down to apply a chosen font style.
				<br>
			</td>
		</tr>
		<tr>
			<td><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_17-08-37.png" class="fr-fic fr-dii"></td>
			<td>

				<h3>Colour Tool</h3>The first option applies a change in the font colour, the second option applies a colour to the background of the text such as highlighting. Either select a colour using the drop down arrow and begin to type, or select text and change the colour using the drop-down selector.
				<br>
			</td>
		</tr>
	</tbody>
</table>
<hr>

<h3>Other Tools</h3>

<table>
	<tbody>
		<tr>
			<td width="40%"><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_17-05-59.png" class="fr-fic fr-dii">

				<h3>Adding a Link</h3>
			</td>
			<td width="60%"><img src="../../../coh/storage/app/media/comms/makeLink.png" class="fr-fic fr-dii">
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_17-07-12.png" class="fr-fic fr-dii"></td>
			<td>

				<h3>Remove Formatting</h3>This tool can be used to remove all formatting from a selected area of text. Select an area of text and use the drop-down to remove all font styles.
				<br>
			</td>
		</tr>
	</tbody>
</table>