[viewBag]
title = "Scheduled Comms"
url = "/communications/scheduled-comms"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Scheduled Communications</h2>

<p>From your Messages tab, you can click on Scheduled on the top bar to see the list of communications scheduled to be sent over the course of your program. From here you can create new scheduled communications and edit existing ones. To enter in the detail view of a given scheduled communication, click the corresponding View button next to the chosen communication, and if desired click Edit on the page that follows.</p>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_10-06-00.png" class="fr-fic fr-dii"></p>
<hr>

<h4>Editing a Scheduled Communication</h4>

<p>It is quite important to get the communications right at the beginning of a program. If you have some communications already provided as part of your plan, it is important to go into the edit window of each communication to ensure you are happy with the content. Communications cannot be edited once they have been triggered to send so getting them right before they send is important. Where areas specifically need your attention such as dates and venues, those areas will be clearly highlighted for you to complete as shown.</p>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_14-03-55.png" class="fr-fic fr-dii"></p>
<hr>

<h4>When to send?</h4>

<p>The two options for scheduling communications are <strong>Days After Match</strong> or <strong>Custom</strong>.</p>

<p><strong>Days After Match</strong> is as it sounds, a given period of time since the partnership began. You can select either days or weeks from a drop-down to specify the time period. Note that with this option, different mentoring pairs could potentially receive this message on different days as it will be determined by your matching process which may have been spread out, in stages, or all done in one day.</p>

<p>Selecting <strong>Custom</strong> will provide you with a simple date picker, which you can use to specify a particular date on which all recipients will receive the message at the same time.</p>

<p>While the choice is obviously yours when it comes to how and when to trigger your communications, we encourage you to utilize the “Day After Match” functionality where possible. This is a powerful feature when used well, particularly when the matching process in your program is going to be spread out over a period of time. There are occasions when this is not going to be useful, such as inviting Mentees and Mentors to an event where the date is fixed for all participants. On the other hand, when your communication is giving guidance and advice regarding their own personal mentoring journey, you will find that triggering such a message at a given point in that journey can be a more appropriate way to ensure each mentoring pair has access to the information they need at an appropriate time. It is also a way to ensure that people who are matched late in a program do not miss out on communications which have already been triggered for other participants.</p>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_10-06-40.png" class="fr-fic fr-dii"></p>

<p>Note that if you choose “Custom Date” for any communication, take care to select only the group you wish to receive that message. For example, if you have mentors and mentees who are unmatched and you do not want them to receive the message, then make sure you select a Group such as Matched Mentors and Mentees for the message, which will exclude unmatched participants. (If you choose “Day After Match” the platform can only send to matched pairs, so this step is not relevant).</p>