[viewBag]
title = "Direct Comms"
url = "/communications/direct-comms"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Direct Communications</h2>

<p>A Direct Communication is a message which is composed and sent immediately by clicking the send button, as we are accustomed to in a common email application. As with email, a Direct Communication can be directed at one or more recipients.</p>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_10-09-30.png" class="fr-fic fr-dii"></p>
<hr>

<h4>Sending a message to an Individual Participant</h4>

<p>At times you may need to message a given Participant. There are a number of ways to do this: using the <strong>Communications &gt; Messages</strong> Tab, where the instructions above apply, OR via the individual’s <strong>Participants Detail</strong> Page.</p>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_10-21-10.png" class="fr-fic fr-dii"></p>

<p>Find the participant you want to message by finding them in <strong>Participants &gt; Participants</strong> and click<strong>&nbsp;Actions &gt; Message</strong>.</p>

<p>Or from the Participant Detail Page Click <strong>Actions&gt; Send Message</strong>.</p>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_10-21-47.png" class="fr-fic fr-dii"></p>