[viewBag]
title = "Invites"
url = "/communications/invites"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Sending Invitations</h2>

<p>Another form of Communication is Invites. When you first launch a program or indeed at any stage in the program if you want to increase the number of people in your program, invitations can be sent to prospective Mentees and Mentors to join.</p>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_10-10-17.png" class="fr-fic fr-dii"></p>

<p>Click <strong>Send New Invite</strong> at the top right of your page to send messages asking people to join the program. A link to the Participant Portal Landing Page will be included in the message to simplify this process. These Invite emails are templates which you can customise within your program by selecting the <strong>Create Template</strong> button.</p>
<hr>

<h4>Customising Invitation Templates</h4>

<p>You will notice that the templates contain some simple mail merge like fields - such as <strong>[[ApplyButton]]</strong> and <strong>[[EmailSignature]]</strong> - which will automatically be populated with details specific to your program. It is advisable that you leave these fields ‘as is’ however the rest of the message can be edited to best suit your requirements. Saving at this point will only save the template, it will not send a message. That process is done by clicking the <strong>Send New Invite</strong> button in the top right hand corner.</p>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_10-10-35.png" class="fr-fic fr-dii"></p>

<p>After clicking the <strong>Send New Invite</strong> button, your Template can be selected to send out new invitations.</p>

<p>Separate multiple email addresses with a semicolon, and without spaces like this:</p>

<h4>John.Doe@outlook.com;Jane.Citizen@outlook.com;</h4>

<p><img src="../../../coh/storage/app/media/comms/chrome_2018-11-06_10-12-11.png" class="fr-fic fr-dii"></p>

<p>The message will be sent to each valid email address in your list. As these invitees are not yet in your program database, you don’t get a drop-down list to select from.</p>
<hr>

<h4>What the Mentors and Mentees Will See</h4>

<p>Regardless of whether you are sending a Scheduled Communication, a Direct Message or an Invitation, the layout remains consistent in terms of the email message arriving at the inbox of your participants. Below is an example of a typical message. Where used, sponsor logos appear in the footer of each platform communication. If you have added a Company Logo to your Program it will be displayed at the top of the message, replacing the Art of Mentoring Logo. The example shown is an invitation sent with the default system template for inviting Mentors to a program.</p>

<p><img src="../../../coh/storage/app/media/comms/OUTLOOK_2018-11-06_10-16-26.png" class="fr-fic fr-dii"></p>