[viewBag]
title = "Using Groups"
url = "/groups/using-groups"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Where are Groups used?</h2>

<p>As mentioned earlier, Groups are a very powerful tool, and the more you familiarise yourself with them the more uses you will find for them. Shown below are three common uses to get you started, however there are many more applications for Groups. Ask your CSM (Client Success Manager) if you are unsure on exactly how to best construct your Groups.</p>

<h4><strong>Scenario 1:</strong> Create a Matching pool based on Geographic Location</h4>

<p>You may have a scenario where Participants have registered from different States, or even just different parts of the same City. Using Groups, you can enable Mentees who live or work near Mentors, to be more easily paired with each other. The example shown is for Mentees and Mentors who have entered “NSW” as their response to the Application Question asking what State they reside in.</p>

<p><img src="../../../coh/storage/app/media/groups/chrome_2018-11-09_09-25-43.png" class="fr-fic fr-dii"></p>

<p>The Options used to create the Group in this example are:</p>

<ol>
	<li>Role Equal to Mentor</li>
	<li>Application Complete Equal to Yes</li>
	<li>Mentor: “What State do you live in?” Contains NSW</li>
</ol>

<p>In this example, the last criterion used (What State do you live in?) was actually searching through Participants’ Application responses.</p>

<p><img src="../../../coh/storage/app/media/groups/chrome_2018-11-09_09-29-04.png" class="fr-fic fr-dii"></p>

<p>The image above shows this Group having been populated with this criteria.</p>

<p>The next step is to create a Matching Pool based around this, along with the corresponding NSW Mentee Groups. See below:</p>

<p><img src="../../../coh/storage/app/media/groups/groupsToPool.png" class="fr-fic fr-dii"></p>

<p>This new NSW Pool contains only Participants who answered NSW for their State question and have completed applications. For more information about Matching Pools, refer to the Matching Pools Guide.</p>

<p><img src="../../../coh/storage/app/media/groups/chrome_2018-11-09_12-22-00.png" class="fr-fic fr-dii"></p>

<p>The above image shows the completed matching pool.</p>
<hr>

<h4><strong>Scenario 2:</strong> Emailing Participants to remind them to complete their Application</h4>
<div class="flex">
	<div class="col-md-7"><img src="../../../coh/storage/app/media/groups/chrome_2018-11-09_09-33-33.png" class="fr-fic fr-dii"></div>
	<div class="col-md-5">

		<p>In the next example, a Champion has decided that only Participants who have completed their Applications will be considered in the Matching process. The Champion wants to send a reminder out to anyone who has failed to complete their Application, and warn them of the pending deadline.</p>

		<p>For more information on the Communications, refer to the Communications Guide.</p>
	</div>
</div>

<p>A Filtered Group is constructed which dynamically finds Participants with an incomplete Application.</p>

<p><img src="../../../coh/storage/app/media/groups/groupToComm.png" class="fr-fic fr-dii"></p>
<hr>

<h4><strong>Scenario 3:</strong> Grouping Participants into Date-of-Match Based Cohorts</h4>

<p>Particularly in large Programs where matching can take place over many weeks or months, organising groups of Participants into cohorts can be a great way of keeping track of where people are up to. This is done very simply in the Groups, using the option Date of a Published Match. Using this filter, the two logic options are Before and After. A Date-picker is provided with this filter in order to select a date.</p>

<p><img src="../../../coh/storage/app/media/groups/chrome_2018-11-09_14-56-09.png" class="fr-fic fr-dii"></p>

<p>Notice in the above example that two identical filters were used, but one is set to After the 1st January, the other set to Before 31st January. When setting up a Group in this way, any matches which were published during the middle of the month will be captured by this Filtered Group.</p>