[viewBag]
title = "Group Types"
url = "/groups/group-types"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Group Types</h2>

<p>Groups are one of the most useful modules in the Art of Mentoring Platform, and well worth becoming familiar with. There are two types of groups:</p>

<p><img src="../../../coh/storage/app/media/groups/groupTypes.png" class="fr-fic fr-dii"></p>

<p>Each type of Group has its own uses based on the properties of that particular Group type. To get to the Groups page, click Participants &gt; Groups on the left-hand side navigation. To begin making a group, Click Create New and select the group type from the options shown.</p>

<p><img src="../../../coh/storage/app/media/groups/groups.png" class="fr-fic fr-dii"></p>

<h4>Filtered Groups</h4>

<p>are dynamic in nature and can be created in an almost infinite number of different configurations. They are typically used to group people from a particular geographic area or people with similar interests or people who have either completed or not completed particular tasks. Filtered Groups can also be constructed on combinations of different criteria. Shown is a list of commonly used criteria on which Groups can be constructed:</p>

<p><img src="../../../coh/storage/app/media/groups/filterOptions.png" class="fr-fic fr-dii"></p>

<p>While this is an impressive list of possible options on which to base a group, in addition to these options every single question in a Mentee or Mentor Application can also be used to base a Filtered Group. For example, you could construct a Filtered Group of Mentors who have answered “yes” to the Application Question:</p>

<p class="middle">“Are you happy to be matched with a Mentee outside your local area, and communicate via Skype?”</p>

<p>Filtered Group options can also be “stacked” in order to further narrow results.</p>

<p>In such cases, Participants must fulfil all of the stacked criteria in order to populate the Filtered Group. See the section on making a Filtered Group for more information on this feature. A comprehensive explanation of these filters can be found in the “Making a Filtered Group Section”.</p>

<p>
	<br>
</p>
<hr>

<p>
	<br>
</p>

<h4>Custom Groups</h4>

<p>are static in nature. They are manually populated with groups or individuals. Custom Groups can also be made by taking a snapshot of a Filtered Group, thus making a static version of an otherwise dynamic group.</p>

<p>To begin making a Group from the Groups Page, click Create New and select your chosen Group Type from the options shown.</p>