[viewBag]
title = "Filtered to Custom Group"
url = "/groups/filtered-custom-group"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Making a Custom Group from a Filtered Group</h2>

<p>Note that by doing this, the newly created group will not have the dynamic properties of the original group. This can be very useful, for example, if you want a group of Mentees to complete their applications by a given date. By exporting out the “Mentees with Complete Applications” on that date, you effectively capture those people in a group. Mentees completing their applications after this point will not dynamically fall into this new custom group.</p>

<p><img src="../../../coh/storage/app/media/groups/chrome_2018-11-09_09-32-30.png" class="fr-fic fr-dii"></p>

<p>To begin, select which Filtered Group you would like to export as a Custom Group. Click Edit &gt; Save as Custom Group. This new group will automatically be assigned a name such as “Incomplete Applications Copy” which can easily be edited by clicking on the Edit Button. While in this edit mode, you are also able to add or remove Participants and Groups from this Custom Group. See the next section on making a Custom Group for more details.</p>