[viewBag]
title = "Member of"
url = "/groups/member"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Making or Adding to a Custom Group from the Participant Detail Page</h2>

<p>Click Participants &gt; Participants, then find your chosen Participant and click the corresponding <strong>View</strong> button. You should see the Participant Detail page and just below the personal details you should see a “Member of groups” section. This shows all Filtered and Custom Groups, of which this Participant is a member.</p>

<p><img src="../../../coh/storage/app/media/groups/chrome_2019-06-06_13-15-24.png" class="fr-fic fr-dii"></p>

<p>Remember that Filtered Groups are dynamic. This can mean that a Participant may find themselves in the “Incomplete Application” group one day and not the next, simply by completing their application.</p>

<p>Next to the Member of groups section is a “<strong>Change Group Membership</strong>” button. This will open a dialogue box where custom group membership can be added or removed. New Custom Groups can also be created here by typing in a new name, clicking Create New Group and then adding them to the newly created group.</p>

<p><img src="../../../coh/storage/app/media/groups/changeGroupMembership.png" class="fr-fic fr-dii"></p>