[viewBag]
title = "Custom Groups"
url = "/groups/custom-groups"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Making a Custom Group</h2>

<p>On the Groups page, click Create New &gt; Custom Group</p>

<p><img src="../../../coh/storage/app/media/groups/customGroup.png" class="fr-fic fr-dii"></p>