[viewBag]
title = "Filtered Groups"
url = "/groups/filtered-groups"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Making a Filtered Group</h2>

<p>On the Groups page, click <strong>Create New &gt; Filtered Group</strong>.</p>

<p><img src="../../../coh/storage/app/media/groups/newFilteredGroup.png" class="fr-fic fr-dii"></p>
<div class="flex">
	<div class="col-md-7"><img src="../../../coh/storage/app/media/groups/addFilters.png" class="fr-fic fr-dii"></div>
	<div class="col-md-5">

		<p>When adding filters to your Group, additional filters or conditions can be added as shown.</p>

		<p>A Participant must fulfil all conditions applied to a Group in order to be dynamically added to that Group.</p>
	</div>
</div>

<p><img src="../../../coh/storage/app/media/groups/addRemoveFilters.png" class="fr-fic fr-dii"></p>

<h3>What to expect from each Filter:</h3>

<p><strong>Role:</strong> is simply a Participant’s role in the platform. This is either a Mentee or a Mentor. In some Programs, a Participant can be both a Mentee and a Mentor.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Equal to</td>
			<td>Mentee | Mentor</td>
		</tr>
	</tbody>
</table>

<p><strong>Date Joined:</strong> is the date on which a Participant signed up to the Program. This Filter can become useful when running a staged Program, also known as cohorts.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Before | After</td>
			<td>Date Picker</td>
		</tr>
	</tbody>
</table>

<p><strong>User Status:</strong> is a Participant Account Filter. For example, a Participant may be suspended, or could still have an unverified account. The Participant Account Help File will have more information regarding these statuses.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Equal to</td>
			<td>Suspended | Unmatched | Published | Inactive</td>
		</tr>
	</tbody>
</table>

<p><strong>Number of Published Matches:</strong> is a filter on the number of Matches a Participant is currently participating in. Some Programs will allow a Mentor to be Matched to more than one Mentee. Other Programs will allow for a Participant to engage in a match both as a Mentee, and a Mentor at the same time.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Equal to | More Than | Less Than</td>
			<td>Integer</td>
		</tr>
	</tbody>
</table>

<p><strong>Number of Locked Matches:</strong> is the number of proposed matches a person is “locked” in. Refer to the Matching Help File for more information on these terms.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Equal to | More Than | Less Than</td>
			<td>Integer</td>
		</tr>
	</tbody>
</table>

<p><strong>Number of Completed Matches:</strong> is the number of matches which have naturally reached the end of their term or duration.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Equal to | More Than | Less Than</td>
			<td>Integer</td>
		</tr>
	</tbody>
</table>

<p><strong>Date of Published Match:</strong>is the date on which a match was published. This filter accepts before, and/or after a given date.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Before | After</td>
			<td>Date Picker</td>
		</tr>
	</tbody>
</table>

<p><strong>Mentor Spaces Available:</strong>is the number of agreed “slots” a Mentor has yet to be filled. This number is controlled at the Program level but must also be agreed upon by the individual Mentors when they join the Program.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Equal to | More Than | Less Than</td>
			<td>Integer</td>
		</tr>
	</tbody>
</table>

<p><strong>Mentor Training Completed:</strong>is a filter to determine the completion status of the Art of Mentoring training for Mentors. Some Programs choose to make this a compulsory undertaking when joining the Program.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Equal to</td>
			<td>Yes | No</td>
		</tr>
	</tbody>
</table>

<p><strong>Mentee Training Completed:</strong>is a filter to determine the completion status of the Art of Mentoring training for Mentees. Some Programs choose to make this a compulsory undertaking when joining the Program.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Equal to</td>
			<td>Yes | No</td>
		</tr>
	</tbody>
</table>

<p><strong>Mentor Application Completed:</strong> tests the completion status of a Mentor’s Application in a Program.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Equal to</td>
			<td>Yes | No</td>
		</tr>
	</tbody>
</table>

<p><strong>Mentee Application Completed:</strong>tests the completion status of a Mentee’s Application in a Program.</p>

<table class="blueBorder">
	<tbody>
		<tr>
			<td>Options:</td>
			<td>Equal to</td>
			<td>Yes | No</td>
		</tr>
	</tbody>
</table>