[viewBag]
title = "Bulk Add to Group"
url = "/groups/bulk-add-group"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Making or Adding to a Custom Group through Bulk Add</h2>

<p>On the Participant List page, select one or more participants. At the bottom of the page is the Selected Actions button. Click this and then click Form Group. A Custom Group dialogue box will open allowing you to either add Participants to an existing group or create a new Custom Group. This functionality is very similar to the Participant Detail page equivalent except here groups cannot be removed.</p>

<p><img src="../../../coh/storage/app/media/groups/bulkAddToGroup.png" class="fr-fic fr-dii"></p>