[viewBag]
title = "Refreshing a Pool"
url = "/matching/refreshing-pool"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Refreshing a Matching Pool</h2>

<p>After you have made a number of changes such as Locking Matches or Adding and Removing Participants from the Pool, your Pool may need to be refreshed. A Matching Pool will always tell you the exact time and date it was most recently refreshed. This forces the Matching Algorithm to recalculate all Un-Locked potential Matches and line each remaining Mentor up with the most suitable remaining Mentee for your consideration. The reasoning behind Locking Matches, is that they are exempt from this “shuffling” process.</p>

<p>Where Mentors or Mentees fail to have found a potential partner in this process, it is due to either to a ratio problem (more Mentees than Mentors) or a Participant having not completed their application.</p>

<ul>
	<li>If you don’t have equal numbers of Mentors and Mentees in the matching pool, refreshing a Pool will not magically find partners for everyone, and there will usually come a point when the Matching Pool is exhausted of further Matching possibilities and more applicants or a different strategy may be required.</li>
	<li>When a Participant has not completed any of the Matching Questions in their application, the Matching Algorithm is unable to suggest a possible Match. In these cases, a link is provided for you to manually suggest a Match.</li>
</ul>

<p>Note the Lock and Publish buttons are inactive in these cases as no potential Match was found. See below.</p>

<p><img src="../../../coh/storage/app/media/comms/4.jpg" class="fr-fic fr-dii"></p>