[viewBag]
title = "Current Matches"
url = "/matching/current-matches"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>The Current Matches Screen</h2>

<p>The Current Matches Screen shows all past and present Published (Current) Matches, including Matches which have been Cancelled, or Completed. You can sort or filter for the match status (Active, Cancelled, Completed or Suspended) in the list.</p>

<p><img src="../../../coh/storage/app/media/matching/currrentMatches.png" class="fr-fic fr-dii"></p>

<p>Actions are available here (Message and Unpublish), as well as details on the start (Match Published) and finish (Match Complete) dates of a given Match. You can see other information such as the number of Survey Responses made by the pair (out of the total number that the 2 of them have been asked to complete so far), and the Training Completed (out of a total of 2 – one each – that they’ve been asked to complete).</p>