[viewBag]
title = "Matching Examples"
url = "/matching/matching-examples"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Matching Examples</h2>

<h3>A Typical Scenario: Creating a Filtered Group Matching Pool</h3>

<p>This example shows how you would match people only within the same state (ie Queensland). The question on the application is not a Matching Question, but is a Multiple Choice (so the possible answers are given, and free text is not allowed).</p>

<h4>1. Create a Filtered Group</h4>

<p>The first part of this task is to create the appropriate state Groups and is explained in much more detail in the Groups Guide.</p>

<p><img src="../../../coh/storage/app/media/matching/exampleCreateGroup.png" class="fr-fic fr-dii"></p>

<p>In the <strong>Participants &gt; Groups</strong> page, the Champion clicks <strong>Create New &gt; Filtered Group</strong> to set up two nearly identical Groups. One for Queensland Mentees, and one for Queensland Mentors.</p>

<p>As Filtered Groups are dynamic, once established the Champion does not need to do anything else to find appropriate Participants for this Pool. They will automatically populate the Groups if they fulfil the criteria selected. Even new participants or ones whose state changes will move in or out of this group automatically.</p>

<h4>2. Create a new Matching Pool using these Groups</h4>

<p>Having made two new Queensland Groups, the Champion selects Matches &gt; Matching Pools to see the list of available Pools. As a Queensland Pool has not yet been created, the Champion selects Create New and fills out the details as shown below.</p>

<p><img src="../../../coh/storage/app/media/matching/exampleCreatePool.png" class="fr-fic fr-dii"></p>

<p>Importantly, the two Queensland Groups are selected to populate the Matching Pool.</p>

<p>Once complete, the Queensland Matching Pool will automatically fill with the appropriate Mentees and Mentors, their compatibilities with each other calculated, and the Champion is presented with the list of the best set of matches within the Pool.</p>

<h4>3. Lock or Publish Matches</h4>

<p>As outlined in this guide, the Champion can now review the list and Lock or change matches within the Pool, and Publish when satisfied.</p>

<p><img src="../../../coh/storage/app/media/matching/examplePublish.png" class="fr-fic fr-dii"></p>