[viewBag]
title = "Individual Matching"
url = "/matching/individual-matching"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Individual Matching from the Participant Detail View</h2>

<p>You might be looking at the Participant Detail Page when you see a reason to change a person’s match. To find a Participant, click on Participants &gt; Participants then select your chosen Mentee or Mentor from the list. Click View to enter this Participants’ Detail Page</p>

<p><img src="../../../coh/storage/app/media/comms/7.jpg" class="fr-fic fr-dii"></p>

<p>This page will show any past or present Published Matches involving the Participant, including Cancelled Matches. At the top of this page you will find a Find Mentee / Find Mentor button which can be used to enter a different window, similar to the Replace Participant View.</p>
<hr>

<h4>Find a Mentee / Find a Mentor</h4>

<p><img src="../../../coh/storage/app/media/matching/participantDetailPublish.png" class="fr-fic fr-dii"></p>

<p><strong>PLEASE NOTE</strong> your only option here is to Publish Match rather that simply to Lock a Match. Proceed only if you are certain of the Match you are working with. If you are unsure, simply click the Cancel Button and go back to the Current Matches view to look for an alternative Mentor (in the above case) for this person.</p>