[viewBag]
title = "Beginning Matching"
url = "/matching/beginning-matching"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Matching</h2>

<p>Matching is one of the more complex aspects of the Platform and the quality of the matching can have a significant impact upon the success of the relationships and the program overall.</p>

<p>While this guide will show you how to carry out the matching, given the personal nature of a Mentoring Relationship it can tend to be quite a daunting task and is best done in consultation with your CSM (Client Success Manager). As a Champion, you should familiarise yourself with the other Champion Guides before beginning the matching process.</p>

<p>
	<br>
</p>

<h3>Art of Mentoring Terms</h3>

<p>A <strong>Match</strong> is a Mentoring partnership or relationship between a Mentee and a Mentor. A match has start (Published) and end (Completed) dates.</p>

<p>On the Matches Tab in your Champion Portal there are three areas, <strong>Current Matches</strong>, <strong>Locked Matches</strong> and <strong>Matching Pools</strong>: A <strong>Matching Pool</strong> is an administrative area to which groups or individual prospective (unmatched) Mentees and Mentors can be can be added, so that the matching algorithm calculates their compatibility to each other. This is your “work area” for conducting the matching process.</p>

<p>A <strong>Locked Match</strong> is an un-confirmed (not yet Published) Match, which has been tagged or ‘pencilled in’ by the Champion as a likely Match. Participants are not made aware when they have been locked in a match. It is for administrative purposes only.</p>

<p>A <strong>Published Match</strong> is a fully confirmed Match. Once a match has been Published, the 2 participants are instantly made aware via email that they have been Matched within the Program. This notification contains a link to the platform, where each can now view their partner’s details.</p>

<p><strong>Current Matches</strong> is a display of all Published Matches within a Program.</p>

<p>A <strong>Cancelled Match</strong> is a Published Match which has since been terminated, usually due to a change in circumstances. An email is not triggered for the cancelation of a Match.</p>

<p>A <strong>Completed Match</strong> is a match which has naturally reached the end of its duration and has been brought to a close. An email is triggered at this time, informing participants that their Match has formally ended.</p>

<p>Sometimes, a Mentor can opt to Mentor more than one Mentee at a time. This setting must also be enabled at a program level. These potential partnerships are known as Mentee Slots. A Mentor who has opted to Mentor 3 Mentees will begin the program with 3 <strong>Mentee Slots</strong> Available.</p>
<hr>

<h4>Beginning the Matching Process</h4>

<p>Before you get to this point you will have set up your Program, created a suitable application and allowed prospective Mentees and Mentors to sign up to your Program. For information on each of these steps you can refer to the Champion Guide related to that topic.</p>

<p>When it comes time for matching you will need to consider a strategy in consultation with your CSM on how best to achieve a positive outcome in your unique circumstances. On many occasions the matching questions form just part of the solution; you can match among subgroups of your applicants by gathering them into Matching Pools using Filtered Groups to draw like/compatible participants together.</p>

<p>There are numerous ways to perform this task, later in this guide we will show you two methods of Matching:</p>

<ul>
	<li>Using a Filtered Group Matching Pool, and</li>
	<li>One-on-one Individual Matching.</li>
</ul>
<hr>

<h4>Locked Matches vs Published Matches</h4>

<p>Locked Matches are an administrative tool for you to effectively “pencil in” a Match. This Locking process effectively removes the Mentor and Mentee from the matching process, and allows you to more clearly see the Participants still requiring a Match. While a Match does not need to be first Locked before being Published, it is the recommended strategy, particularly when dealing with larger volumes of Participants. Locked Matches can be easily un-Locked and the 2 participants put back into the Matching Pool, if desired. No emails are triggered whatsoever in the Locking and un-Locking of a Match. Only when a Match is Published does the Mentoring relationship formally begin, and both the Mentee and the Mentor will be instantly notified by email. Many Champions choose to Lock all Matches as they work through the applicants, and then Publish everyone at once as part of the launch of the Program.</p>