[viewBag]
title = "Replace Participants"
url = "/matching/replace-participants"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Replace Participant - Making Changes to a Suggested Match</h2>

<p>As a Champion you will often have direct contact with or knowledge of a number of your Participants, and may decide to manually pair two Participants together. For example; Jane Citizen has been matched by the algorithm with John Doe; even though their compatibility based on the Matching Questions is 100% but you believe Jane Doe would be a more suitable Mentor for her. To do this from a Matching Pool, click on the name suggested by the Matching Algorithm (ie John Doe) and choose Replace Participant as shown below.</p>

<p><img src="../../../coh/storage/app/media/comms/5.jpg" class="fr-fic fr-dii"></p>

<p>A pop-up window will appear (shown below) which will allow you to begin typing the name of the person you would prefer to Match in this case (Jane Doe).</p>
<div class="flex">
	<div class="col-md-7"><img src="../../../coh/storage/app/media/comms/6.jpg" class="fr-fic fr-dii"></div>
	<div class="col-md-5">

		<p>Matching percentages are shown to give you as the Champion, an indication of what partnerships might work well based on Matching Questions responses (in this case 68%). If you are happy with a selection click Confirm and Lock to return to the Matching Pool with this newly Locked Match in-tact. Otherwise, click Cancel to return to the Matching Pool without changes.</p>

		<p>If you find yourself doing this a number of times it is probably worth refreshing your Matching Pool to recalculate potential Matches with the remaining Participants.</p>

		<p>For another way to perform Manual Matching refer to the section on Individual Matching from the Participant Detail View.</p>
	</div>
</div>