[viewBag]
title = "Matching Pools"
url = "/matching/matching-pools"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>How to use a Matching Pool</h2>

<p>A Matching Pool is designed to be populated with only the Groups and/or Participants (both Mentors and Mentees) whom you want to be checked for compatibility. For example, you might want to ensure that Mentors and Mentees are in the same location – each Matching Pool you create would be made up the Mentors and Mentees in the various locations. In this case, Location would not have to be a matching question, but the algorithm would only look for pairs within each matching pool, that is, each location. Once in a Pool, Participants are rated for compatibility and given a percentage by our Matching Algorithm. You can shuffle again within the Pool, or Lock pairs which seem to work well. Once all pairs are successfully matched, your Locked Matches can become Published Matches. Only when a match is Published are the Participants notified, and the formal relationship begins.</p>

<p><img src="../../../coh/storage/app/media/comms/1.jpg" class="fr-fic fr-dii"></p>

<p>For simplicity, the above Matching Pool contains just a few names however Matching Pools are frequently very large.</p>

<p><strong>Create a Locked Match</strong> by clicking Lock in a given row as shown above. Unlock the match by clicking Unlock, as shown below. The Publish button is used to confirm and Publish a Match.</p>

<p><img src="../../../coh/storage/app/media/comms/2.jpg" class="fr-fic fr-dii"></p>

<p><strong>Bulk Actions</strong> can also be performed in a Matching Pool. After selecting the relevant rows in the table, an Action such as Publish or Lock can be applied.</p>

<p><img src="../../../coh/storage/app/media/comms/3.jpg" class="fr-fic fr-dii"></p>