[viewBag]
title = "Locked Matches"
url = "/matching/locked-matches"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>The Locked Matches Screen</h2>

<p>When a matching process is in full swing it is not unusual to have a number of different Matching Pools, and sometimes it can get difficult to keep track of. For this reason we provide you with a Locked Matches Screen to allow for a centralised display of all Locked Matches across all Matching Pools.</p>

<p><img src="../../../coh/storage/app/media/matching/chrome_2018-11-14_14-38-43.png" class="fr-fic fr-dii"></p>

<p>From this screen there are numerous bulk actions available to you. Shown below is the Publish and other Actions available include the ability to send a Message to selected Participants in the selected pairs, or Unlock a Match which returns the participants to the relevant matching Pool.</p>

<p><img src="../../../coh/storage/app/media/matching/lockedMatchesScreen.png" class="fr-fic fr-dii"></p>