[viewBag]
title = "Editing Responses"
url = "/participant-account-issues/editing-responses"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Editing a Participant’s Application Responses</h2>

<p>Again, while a Participant has the capacity to edit their own Application, there is sometimes a need to make small changes on their behalf. For this reason you can edit a Participant’s Application by clicking (from the Participant Detail Page)<strong>&nbsp;Actions &gt; Edit Mentee / Mentor Application</strong>. Note that changing fields here will have an impact on matching scores and should be done with extreme caution!</p>

<p><img src="../../../coh/storage/app/media/accounts/editApplication.png" class="fr-fic fr-dii"></p>