[viewBag]
title = "Complex Accounts"
url = "/participant-account-issues/complex-accounts"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Participants in Multiple Programs or with Multiple Mentoring Partners</h2>

<p>Some organisations choose to run more than one mentoring program at the same time, or one after the other, so that there are participants involved in multiple programs at the same time. For example</p>

<ul>
	<li>A Mentor might be helping someone in their company’s Annual Young Professionals Program, and has put their hand up to be a Mentor again in the following year, so that they get matched before the close of the previous program</li>
	<li>A Mentor has agreed to work with 2 Mentees in a program</li>
	<li>An association might run a Graduates Program and an Emerging Leaders Program, and an enthusiastic Mentee has signed up for both at the same time</li>
	<li>A Mid-Career professional had such a positive experience as a Mentor in a program, they have applied to be both a Mentor and a Mentee in the following year.</li>
</ul>

<p>The platform can support you as a Champion to manage all these scenarios, and also provide all the support the participants need. You will need to talk to your CSM about these and other possibilities during the design of the program, so that they can help you set up the platform correctly from the very start. It is difficult and can be risky to change system settings once applications have opened.</p>

<p>When designing the program, be prepared for your CSM to ask:</p>

<ul>
	<li>if you intend to allow participants to be a Mentor and a Mentee in the program at the same time</li>
	<li>If you are happy for Mentors to have more than one Mentee at the same time</li>
	<li>if you are renewing a program, that you want Mentors (and Mentees) from the previous program to be able to continue in the next program or cohort</li>
</ul>

<p>Your CSM can set these options up for you.</p>

<p>There are a few key things to consider as a Champion when setting up and managing your participants in these more complex situations:</p>

<ol>
	<li>in which they are a participant – they still have access to their other Program(s).</li>
	<li>A Mentor or Mentee only has to log into the Participant Portal ONCE to access their multiple programs or multiple partners:</li>
</ol>
<hr>

<h4>Participants with Multiple Mentoring Partners</h4>

<p><img src="../../../coh/storage/app/media/accounts/multipleMatches.png" class="fr-fic fr-dii"></p>
<hr>

<h4>Participants in Multiple Programs</h4>

<p><img src="../../../coh/storage/app/media/accounts/otherPrograms.png" class="fr-fic fr-dii"></p>

<p>As the Champion, you may have to help participants in these situations who are having issues finding their match, accessing surveys and the like. The first question to ask them is, “Are you looking at the right program?” or “Are you looking at the right Mentee?”</p>