[viewBag]
title = "Suspending a Participant"
url = "/participant-account-issues/suspending-participant"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Suspending a Participant</h2>

<p><img src="../../../coh/storage/app/media/accounts/suspend.png" class="fr-fic fr-dii"></p>

<p>
	<br>
</p>