[viewBag]
title = "Application Responses"
url = "/participant-account-issues/application-responses"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Reviewing a Participant’s Application Responses</h2>

<p>As a Champion, you can enter into an individual’s profile to see the responses they have given in their Application. When reviewing this information, Matching Questions are presented in a bold type face to more clearly distinguish them from the rest of the application. See image below, where location has been used as a Matching Criteria.</p>

<p><img src="../../../coh/storage/app/media/accounts/matchingBold.png" class="fr-fic fr-dii"></p>