[viewBag]
title = "Direct Messages"
url = "/participant-account-issues/direct-messages"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Sending a Direct Message to a Participant</h2>

<p>As a Champion you will often need to communicate directly with a Participant and the Platform is set up to make this process easy. In fact there are several ways to do this. Below are three methods.</p>

<h4>1. From the Participant Detail Page</h4>

<p>Simply click Actions &gt; Send Message and you will be taken to a composition window. 2. From</p>

<p><img src="../../../coh/storage/app/media/accounts/sendMessage.png" class="fr-fic fr-dii"></p>
<hr>

<h4>2. From the Participants Page (Individual)</h4>

<p>Next to their name in the participants list, again click Action &gt; Message and you will be taken to a composition window.</p>

<p><img src="../../../coh/storage/app/media/accounts/messageParticipants.png" class="fr-fic fr-dii"></p>

<h4>3. From the Participants Page (Bulk Action)</h4>

<p>This last method works in the same way as above, but you can send to more than one participant by selecting their names in the list and using the <strong>Selected Actions</strong> button at the bottom of the page</p>

<p><img src="../../../coh/storage/app/media/accounts/bulkMessage.png" class="fr-fic fr-dii"></p>

<p>The message will be sent to the Participant’s email address, but will also be permanently available in the Participant Portal next time the given Mentee/Mentor accesses the Platform. It will be highlighted as an outstanding item, directing their attention to the message (see below).</p>

<p><img src="../../../coh/storage/app/media/accounts/ppMessageIcon.png" class="fr-fic fr-dii"></p>

<p>Other examples of outstanding items highlighted in a Participant’s view could be an incomplete Application, an outstanding Survey or the need to complete the assigned Mentor/Mentee Training.</p>