[viewBag]
title = "Participant Notes"
url = "/participant-account-issues/participant-notes"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Adding Participant Notes</h2>

<p>Participant Notes are an administrative area where information can be stored for future reference or to share among Champions. Notes saved here are visible only to Champions. Many Programs will only have one Champion, however some larger Programs may have multiple Champions and roles are delegated between them. In such cases, Participant Notes are particularly useful to share information between each other in an informal way.</p>

<p>Useful information to store in notes might include:</p>

<ul>
	<li>Names, roles and contact details of the program’s Champions</li>
	<li>URLs (and short URLs generated, for example, in bit.ly) of resources outside the platform such as webinar registration links, webinar recordings</li>
	<li>Important historical and reference notes such as key client contacts, significant changes in the program design or events such as a special workshop held for participants</li>
</ul>

<p>You can also Add/Edit Notes about individual participants – these can also be found under the Actions menu or at the bottom of a Participant Detail Page. Participant Notes are not visible to Participants in any way, but can be seen/edited by all Champions. Notes added in this area are stamped with the date/time and author of the note.</p>

<p><img src="../../../coh/storage/app/media/accounts/notes.png" class="fr-fic fr-dii"></p>