[viewBag]
title = "Participant Details"
url = "/participant-account-issues/participant-details"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>The Participant Detail Page</h2>

<p>The Participant Detail page displays all of the individual participant’s information, including all their answers to Application Questions as well as contact details. Many of the Champion’s common tasks can be done from this page, such as resetting a password, sending a message, even Publishing a Match.</p>

<p><img src="../../../coh/storage/app/media/accounts/chrome_2018-11-15_10-26-06.png" class="fr-fic fr-dii"></p>