[viewBag]
title = "Find Mentee/Find Mentor"
url = "/participant-account-issues/find-menteefind-mentor"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Find Mentee/Find Mentor</h2>

<p>There is obviously a great deal more information on Matching in our Matching Guide and you should refer to that before starting the Matching Process or altering any matches manually.</p>

<p>Sometimes, particularly towards the end of the Matching Process, a Champion will find themselves needing to make a particular Match between a given Mentee and a given Mentor. The Participant Detail Page can be the quickest and most convenient route to do this: Under the Actions Button is a Find Mentee/Find Mentor Button depending on the Role of the Participant. Clicking this will bring up a window where potential partners can be compared, selected and Published. It is important to note however that this process produces a Published Match directly – you are unable to Lock the match. The participants will be notified immediately, so this method should only be used when you are quite certain of a given Match.</p>

<p><img src="../../../coh/storage/app/media/accounts/findMentor.png" class="fr-fic fr-dii"></p>