[viewBag]
title = "Editing a Profile"
url = "/participant-account-issues/editing-profile"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Editing a Participant’s Profile</h2>

<p>Each Participant has access to alter their own Profile, however at times a Champion may be asked to alter a field on a Mentor/Mentee’s behalf. This is done by clicking (from the Participant Detail Page) <strong>Actions &gt; Edit Profile</strong>. As these changes are both immediate and permanent, ensure that you are certain about changes you make when using this interface.</p>

<p><img src="../../../coh/storage/app/media/accounts/editProfile.png" class="fr-fic fr-dii"></p>