[viewBag]
title = "Other Problems"
url = "/participant-account-issues/other-problems"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Other Participant Account Login Problems</h2>

<h4>Social Login Accounts</h4>

<p>The platform offers the option to use a pre-existing Social Account as a login method. It is important to understand that if a Participant chooses this method of login then the platform does not keep a record of the password they use - this information is entirely stored and handled in the external Social Login Service. In a case where a password is forgotten from a Social Login, the Participant would need to reset the Social Account password in order to proceed. Direct them back to the Social Platform in question.</p>

<p>Note also that the login name and password is the only information shared by the Social Account and the Art of Mentoring platform. For example, using a LinkedIn Social Login does not extract personal information from your LinkedIn profile to pre-fill your mentoring program Application in the platform.</p>

<p><img src="../../../coh/storage/app/media/accounts/socialOrEmail.png" class="fr-fic fr-dii"></p>
<hr>

<h4>Where should a Participant Login?</h4>

<p>Participants do not access the platform through the same portal as Champions, and so their login address is different to yours. The address for Participants can be found in your Program settings. Each email sent from the system also includes the address of this Participant Portal, for their convenience.</p>

<p><img src="../../../coh/storage/app/media/accounts/participantURL.png" class="fr-fic fr-dii"></p>