[viewBag]
title = "Suspending or Removing"
url = "/participant-account-issues/suspending-or-removing"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Suspending or Removing a Participant</h2>

<p>For any number of reasons, you might find yourself needing to take a Participant out of a program. Perhaps they’ve accidentally created multiple accounts, or decided to withdraw their application. Maybe someone has been a Mentor in a 6-month program but wants to take a break and then intends to Mentor again next year.</p>

<p>There are two different ways to disable an account: Suspend and Remove. It is important to understand the difference, so you know which one will offer you the solution you desire.</p>

<p>Suspending a Participant disables their access to the current Program, but leaves their information and history intact in the platform database. Some important points to note:</p>

<ul>
	<li>They cannot login to, and do not get any further communications from the Program.</li>
	<li>Champions can still see this participant in the Participants (list) view, but their status is Suspended.</li>
	<li>A Champion cannot add them to a matching pool and they are removed from any matching pools of which they are already a member.</li>
	<li>If the participant is in a Locked or Published match, then they cannot be suspended, but the match must be unlocked/unpublished first.</li>
	<li>Importantly, the account can be easily un-suspended by a Champion, and the account returns to normal.</li>
	<li>Suspending a Participant is a “silent” action in that they are not notified of the status change. This can cause confusion if they try to log back in and are blocked from doing so, and are instead told that their account has been suspended.</li>
</ul>

<h4>Why might you Suspend a Participant?</h4>

<p>Some organisations run ongoing mentoring programs in which participants (particularly Mentors) move from one program to the next, usually getting matched with a new mentoring partner. Sometimes they want to “sit it out” for a while, but intend to come back into the program again in a future “cohort”; their account could be Suspended during their break, and therefore become unavailable for matching, but their account could then be re-enabled (unsuspended) as desired in the future without loss of history or application data.</p>
<hr>

<h4>Removing a Participant</h4>

<p>Removing a Participant is the deletion of the Account. All Application responses etc. are removed from the Program. The Participant can no longer login, and has no role in the Program whatsoever. This should only be done in cases where the Champion is certain that the Participant should be removed permanently from the Program. The participant’s name is no longer visible to Champions.</p>

<ul>
	<li>A participant cannot be Removed if they are in a Published match, but they can be Removed while in a Locked match.</li>
</ul>