[viewBag]
title = "Removing a Participant"
url = "/participant-account-issues/removing-participant"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Removing a Participant</h2>

<p><img src="../../../coh/storage/app/media/accounts/removeParticipant.png" class="fr-fic fr-dii"></p>

<p>
	<br>
</p>