[viewBag]
title = "Managing Accounts"
url = "/participant-account-issues/managing-accounts"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Managing Participant Accounts</h2>

<p>As a Champion, you are likely to be contacted by Participants and asked to deal with different issues as the Program runs its course. This guide is intended to help you understand where to find some commonly used functionality and how to perform many of the more common tasks a Champion is called upon to do.</p>

<h4>Getting Accustomed to the Participant Interface</h4>

<p>When working with your Participants, there are typically two areas within the platform that you will use:</p>

<ul>
	<li>The first is the Participants Page, which shows a full list of your Participants in the Program (including accounts which may be Suspended or Inactive).</li>
	<li>The second is the Participant Detail Page, which as the name suggests, shows information relevant only to the selected Participant.</li>
</ul>

<p>From the Participants Page, you can</p>

<ol>
	<li>Export a CSV or Excel file of all details of all participants</li>
	<li>Add a new participant using the Add button (although participants typically self-enrol at the Participant Landing Page.</li>
	<li>Search and filter the list of all participants</li>
	<li>Go to a Participants Detail Page by clicking the corresponding View button to the right of their name.</li>
</ol>

<p><img src="../../../coh/storage/app/media/accounts/participants.png" class="fr-fic fr-dii"></p>

<p>As per 3, above, each of the columns can be used as a filter by either typing into the space at the top (Column Search Box), or by clicking the Column Headers. For instance, if you were looking for a Participant named Phillip, but couldn’t remember the exact spelling of his name, you could type the letters “phi” into the First Name Columns Search Box and the Platform will perform a quick search, returning only first names that contained those characters.</p>

<p>Lists are generally displayed at ten rows per page but can be easily altered to show more using the Drop Down Box at the bottom of the table.</p>

<p><img src="../../../coh/storage/app/media/accounts/participantActions.png" class="fr-fic fr-dii"></p>

<p>You can perform either individual or bulk Actions as desired. We will go into more detail about these Actions in this guide, but they include:</p>

<ul>
	<li>Send Message to compose an email</li>
	<li>Send a link to reset their password</li>
	<li>Suspend or Remove</li>
</ul>

<p>These and other Actions can also be done in bulk: a number of names can be selected on the left, then using the Selected Actions button at the bottom right of the list, a Champion can also:</p>

<ul>
	<li>Create a (Custom) Group comprising the selected participants</li>
	<li>Enable/Disable Notifications</li>
</ul>