[viewBag]
title = "Participant’s Messages"
url = "/participant-account-issues/participants-messages"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Finding and Responding to a Participant’s Message</h2>

<p>When a Participant contacts you directly, you will see a similar notification in the top right-hand corner of your Champion Portal. These should also arrive in your email account.</p>

<p><img src="../../../coh/storage/app/media/accounts/newMessages.png" class="fr-fic fr-dii"></p>

<p>Clicking on the message will take you to the message page where it can be read in full. There is a section below the communication where you can respond directly to the Participant.</p>

<p><img src="../../../coh/storage/app/media/accounts/directMessage.png" class="fr-fic fr-dii"></p>