[viewBag]
title = "Resetting a Password"
url = "/participant-account-issues/resetting-password"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Resetting a Participant’s Password</h2>

<p>While a Participant can reset their own password from the program Landing Page, you are also able to reset it for them. Simply click the<strong>&nbsp;Reset Access</strong> link under the Actions menu. An automated email will be sent with a link allowing them to reset their own password. From the landing page, it is possible for a Participant to click the “<strong>Forgot My Password</strong>” link to reset it for themselves. In the Resources section of your Champion Portal you will find a Participant Portal Help File. This file gives your Mentors and Mentees plenty of information on how to manage their own account, and successfully navigate their Portal. It is important to distribute this early on in the program to minimise the number of times you as a Champion, will be called upon.</p>

<p><img src="../../../coh/storage/app/media/accounts/resendAccess.png" class="fr-fic fr-dii"></p>