[viewBag]
title = "Platform"
url = "/platform-overview/platform"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h3>The Art of Mentoring Platform</h3>

<p><img src="../../../coh/storage/app/media/header.jpg" class="fr-fic fr-dii"></p>

<p>The Art of Mentoring Platform is a robust and secure solution designed explicitly to facilitate quality Mentoring Relationships between Mentors and Mentees. A designated Champion oversees the Matching Process which is done using our Matching Algorithm. The Algorithm uses Mentee and Mentor responses to Application Questions to find the most suitable Match for each Participant.</p>

<p>Though no two Mentoring Programs are the same, there are typically a number of stages in the Program Timeline. To begin with, a Champion will need to do some Planning and Training in Partnership with their CSM to get the platform ready for the opening of Applications. The Matching Process begins when enough Participants have registered.</p>

<p><img src="../../../coh/storage/app/media/timeline.jpg" class="fr-fic fr-dii"></p>

<p>The Art of Mentoring Platform is designed to make it easy to support Mentees and Mentors in their journey, throughout their “Match“. Supportive and informative emails are triggered at key points along this journey, as are Surveys which are designed to evaluate the journey. A Mentoring Relationship is formally brought to a close at the end of the agreed duration, and finally the Program is brought to a close.</p>

<p>The Platform has a number of Modules to make these processes flow smoothly such as Communications, Surveys, Matching etc. Each of these Modules is explained in detail in a Guide made specifically for first-time Champions. Once you login to the Champion Portal, you will also find some great Video Tutorials to help you along the way. Your CSM (Customer Success Manager) will have given you the Champion Portal login details to begin your Program.</p>