[viewBag]
title = "Other Modules"
url = "/platform-overview/other-modules"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h3>Moving into other Modules of the Champion Portal</h3>

<p>The Champion Portal is a powerful tool when used well, and it is well worth spending some time to familiarise yourself with each of the Modules in the Platform. The Tutorial Videos mentioned above are a great first step. You should also have a collection of Champion Guides with step by step instructions on each Module. You can find these files by Clicking <strong>Champion Support &gt; Guides.</strong></p>

<p>While there is no specific order and they are not really intended to be read one after another, they are numbered in the order that you are likely to need them during your Program.</p>
<div class="col-xl-12 col-md-12 mb-12">
	<div class="card border-left-info shadow h-100 py-2">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="text-xs font-weight-bold text-info text-uppercase mb-1">If you still have questions or cannot find these files, feel free to ask your CSM for further assistance</div>
			</div>
		</div>
	</div>
</div>