[viewBag]
title = "Common Interface"
url = "/platform-overview/common-interface"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h3>Common Art of Mentoring User Interface Design</h3>

<p>There are a number of different areas throughout the Platform and we have taken the approach that where possible, the User Interface functionality should be consistent across the different Modules. An example is the tabular view of data.</p>

<p><img src="../../../coh/storage/app/media/overview/tableInterface.png" class="fr-fic fr-dii"></p>

<p>Whether you are viewing Participants or Communications, we have tried to build in some methods that are intuitive to our Champions, to help you find what you are looking for.</p>