[viewBag]
title = "Glossary"
url = "/platform-overview/glossary"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h3>Glossary of Terms</h3>

<h4>Application</h4>

<p>An Application refers to the questionnaire-like web form which Participants complete in order to be included in a Program. These questions form the basis of Matching.</p>

<h4>Both (Both Role)</h4>

<p>In the Art of Mentoring context, Both often refers to a Participant who has opted to be both a Mentor and a Mentee for the duration of a Program.</p>

<h4>Cancelled Match</h4>

<p>A Cancelled Match is a Published Match which has since been terminated, usually due to a change in circumstances. An email is not triggered for the cancellation of a Match.</p>

<h4>Champion</h4>

<p>A Champion is a Client Administrator who oversees the Program. Unless AoM is doing this for you, it is the Champion who performs Matching, creates the Application and sends out Communications throughout the Program’s duration. Clients may have more than one Champion, but one of these will be designated as the “Default” Champion to whom platform communications will be sent.</p>

<h4>Communication</h4>

<p>Where used in these guides, Communication refers to either Direct Communication or Scheduled Communications which are performed from the Platform.</p>

<h4>Completed Match</h4>

<p>A Completed Match is a match which has naturally reached the end of the Program duration and has been brought to a close. An email informing Participants is triggered at this point informing them that their Match has formally ended.</p>

<h4>CSM (Client Success Manager)</h4>

<p>A CSM or Client Success Manager is an Art of Mentoring Expert, who will ensure the success of your Mentoring Program. A CSM can offer help at any stage of the Program.</p>

<h4>Custom Group</h4>

<p>One of the two types of Groups, a Custom Group is created manually by selecting Participants and/or Groups with which to populate your Custom Group.</p>

<h4>Export</h4>

<p>Almost all tabular data within the Platform can be Exported for use in external systems or simply for the purpose of backups. The Export button is typically found in the top right corner of a table. Exports can be either CSV or XLS files.</p>

<h4>Filtered Group</h4>

<p>A Filtered Group is a dynamically populated Group based on selected criteria. A Filtered Group’s ‘members’ will naturally fluctuate depending on the criteria.</p>

<h4>Groups</h4>

<p>Groups in the Art of Mentoring Platform can be broken into two distinct types: Filtered Groups and Custom Groups. Broadly speaking, Groups are an administrative tool used to ‘group’ different Participants together.</p>

<h4>Landing Page</h4>

<p>The Landing Page refers to the web address (URL) that Participants are given to register and enter their Mentoring Program. We sometimes refer to this page as the Participant Portal.</p>

<h4>Locked Match</h4>

<p>A Locked Match is an un-confirmed Match, which has been ‘pencilled in’ as a likely Match. Participants are not made aware when they have been locked in a match. It is for administrative purposes only.</p>

<h4>Match</h4>

<p>A Match is a Mentoring partnership or relationship between a Mentee and a Mentor.</p>

<h4>Matching Pool</h4>

<p>A Matching Pool is an administrative area where prospective Mentees and Mentors can be compared for successful partnerships.</p>

<h4>Mentee</h4>

<p>A Mentee is a role in a Program. A Mentee has entered the Program seeking guidance from a Mentor.</p>

<h4>Mentor</h4>

<p>A Mentor is a role in a Program. A Mentor is usually a person of experience who has offered to share this insight with a Mentee.</p>

<h4>Mentor/Mentee Training</h4>

<p>The Art of Mentoring Platform has the capacity to offer Mentoring Training to Participants. These different training packages are tailored to a Participant’s Role (Mentee or Mentor) and progress is tracked within the Platform.</p>

<h4>Participant</h4>

<p>A Participant is anyone who has registered with the Program in order to participate in the Mentoring Program. Participants must choose whether they want to participate as a Mentor, a Mentee, or Both.</p>

<h4>Platform</h4>

<p>The entire Art of Mentoring software package is referred to as the Platform. It includes both the Champion Portal and the Participant Portal.</p>

<h4>Portal (Champion Portal / Participant Portal)</h4>

<p>Each Program has its own unique Champion Portal and also a unique Participant Portal. These serve as a Landing Page from which to enter the Program. As a Champion, you cannot log in via the Participant Portal unless you are also a Mentor or Mentee.</p>

<h4>Program</h4>

<p>A Program is the term used to describe the entirety of a Mentoring Program. A Program has a set duration, and a pre-determined number of Matches.</p>

<h4>Published Match</h4>

<p>A Published Match is a fully confirmed Match. Participants are instantly made aware via email that they have been Matched within your Program.</p>

<h4>Role</h4>

<p>In this context, Role refers to whether a Participant is a Mentor, a Mentee, or Both.</p>

<h4>Slots (Mentoring Slots)</h4>

<p>Sometimes, a Mentor can opt to Mentor more than one Mentee at a time. This setting must also be enabled at a program level. These potential partnerships are known as Mentee Slots. A Mentor who has opted to Mentor 3 Mentees will begin the program with 3 Mentee Slots Available.</p>

<h4>Survey</h4>

<p>A Survey is a set of questions directed at a particular group of Participants in order to collect some feedback on an aspect of the Program.</p>