[viewBag]
title = "Champion Dashboard"
url = "/platform-overview/champion-dashboard"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h3>The Champion Dashboard</h3>

<p>When you first login to your Champion Portal the page you see is called your Dashboard. It has some key bits of information such as the numbers of Participants and completion rates of Surveys and Training.</p>

<p><img src="../../../coh/storage/app/media/dash.jpg" class="fr-fic fr-dii"></p>

<h4>Your Profile</h4>

<p>In the top right-hand corner of your Champion Portal you will see your Name. This is a clickable link and allows you to Change Your Password and Edit Your Profile. Participants will have a similar capacity from within their own Participant Portal.</p>