[viewBag]
title = "Champion Support"
url = "/platform-overview/champion-support"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h3>Champion Support</h3>

<p>The Champion Portal comes complete with its own collection of Video Tutorials to guide you through many of the common tasks you may find yourself needing to complete. In the Main Menu, click Champion Support.</p>

<p>The list of available Video Tutorials will be displayed and clicking on them will load the Video.</p>

<p>In the Champion Support section, you will also find any files that your CSM has made available to you, e.g. slide decks for program events and the Mentoring Program Manager’s Training (Pro Plan only).</p>

<p><img src="../../../coh/storage/app/media/overview/tutorials.png" class="fr-fic fr-dii"></p>