[viewBag]
title = "Editing Settings"
url = "/program-settings/editing-settings"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h3>Editing Your Program Settings</h3>
<div class="flex">
	<div class="col-md-4"><img src="../../../coh/storage/app/media/settings/programSettings.png" class="fr-fic fr-dii"></div>
	<div class="col-md-8">
		<br>

		<h4 class="inline">1 Main Colour</h4>

		<p>is the dark background colour used by default in the Left Main Menu Navigation.</p>
		<br>

		<h4 class="inline">2 Secondary Colour</h4>

		<p>is the highlight colour used through the site, which by default is a light green. This can be an effective link back to your particular brand identity if it mirrors a tone which is prominent in your logo.</p>
		<br>

		<h4 class="inline">3 Program Logo</h4>

		<p>is an upload dialogue box where you can add your organisation’s logo. This will be displayed both on the website header and in all communications out of the platform. The space provided is best suited to a landscape orientated logo around 500px wide and 120px high, and where possible a lossless file type such as a png although most image formats are supported.</p>
		<br>

		<h4 class="inline">4 Custom Code of Conduct</h4>

		<p>is an optional area for you to add your own file which will be displayed when people sign up on the landing page. They will be asked to accept this Code of Conduct, along with the Privacy Policy and Terms of Acceptable Use, before completing an application. If the Code of Conduct is not selected here, then this will not be shown on the Participant Landing Page.</p>
		<br>

		<h4 class="inline">5 Email Signature</h4>

		<p>is shown in the footer of all communications being sent from the platform. A small space is available to add your preferred signature.</p>
		<br>

		<h4 class="inline">6 Sponsor Logos</h4>

		<p>are an optional component which some programs may choose to use. If you do use this feature, the sponsor logos are seen in the footer of the Participant Landing Page, as well as on email communications coming from the platform. Sponsor logos can also optionally have a link attached to them which direct people to the relative sponsor website. See the Communications Guide for examples of this feature.</p>
		<br>

		<h4 class="inline">7 Allow Participants to View Others</h4>

		<p>is a setting which allows Participants to see all other registered users and their email contact details within the platform.</p>
		<br>

		<h4 class="inline">8 Mentee/Mentor Applications Open</h4>

		<p>needs to be enabled before Participants can register. They can be enabled/disabled separately for cases where places are filled in a given role.</p>
	</div>
</div>

<p>
	<br>
</p>
<div class="col-xl-12 col-md-12 mb-12">
	<div class="card border-left-info shadow h-100 py-2">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Click Save in order to keep changes made on this page.</div>
			</div>
		</div>
	</div>
</div>

<p>
	<br>
</p>