[viewBag]
title = "Custom Information"
url = "/program-settings/custom-information"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Add a Custom Program Information Document to your Landing Page</h2>

<p>Once you have decided on what file you would like to add to your landing page, you will need to add some characters to the beginning of the filename so that the platform knows that it is a special kind of resource and should be linked on the landing page.</p>

<p>The special characters you need to add are:</p>

<h3>[Program_Information]</h3>

<p>Follow the guide below for more details:</p>

<p><img src="../../../coh/storage/app/media/settings/programInformation.png" class="fr-fic fr-dii"></p>