[viewBag]
title = "Program Settings"
url = "/program-settings/program-settings"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h3>Program Settings</h3>

<p>Most of the settings within a program are accessible to you as a Champion from the Program &gt; Settings page.</p>
<div class="col-xl-12 col-md-12 mb-12">
	<div class="card border-left-info shadow h-100 py-2">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="text-xs font-weight-bold text-info text-uppercase mb-1">The URL found on this page is your Participant Portal URL. Share this with your Mentees and Mentors</div>
			</div>
		</div>
	</div>
</div>

<p><img src="../../../coh/storage/app/media/settings/chrome_2018-11-07_11-32-55.png" class="fr-fic fr-dii"></p>

<p>There are some settings which are not displayed here which your CSM (Client Success Manager) can access for you. Some of these settings include things such as:</p>

<ul>
	<li>Program Duration (Length of Matches within the Program)</li>
	<li>Program Start and Finishing Dates</li>
	<li>Ability for a single Participant to be both Mentor and Mentee</li>
	<li>Maximum number of Mentees each Mentor can be simultaneously Matched with</li>
</ul>

<p>The following is a quick outline of the settings found in the <strong>Program &gt; Settings</strong> page.</p>