[viewBag]
title = "Your Landing Page"
url = "/program-settings/your-landing-page"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Editing Your Participant Portal Landing Page</h2>

<p>Click on <strong>Program &gt; Landing Page</strong> to access these settings, then click Edit to make changes.</p>

<p><img src="../../../coh/storage/app/media/settings/landingPage.jpg" class="fr-fic fr-dii"></p>