[viewBag]
title = "Resources"
url = "/resources/resources"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>The Resources Page</h2>

<p>The Resources page is a great way to distribute information to your participants. Once logged into your program as a Champion, you can select Program &gt; Resources to see what resources are already available, and from here you can also add or edit resources for your Mentees and Mentors. If there are any Art of Mentoring Resources you don’t wish to make available to your mentors or mentees, you can simply remove them.</p>

<p>To add a new Resource, click Add. Two options are displayed, file and URL. Use file if you want to make a document of some kind available. URL is used when linking to external websites.</p>

<h2>Resource Categories</h2>

<p>Resources are displayed in separate categories to your Participants. Any Resources that are not allocated to a specific category will be displayed under the “General” heading in the Participant Resources page.</p>

<p>You can select a category for a new Resource by following these simple steps prior to uploading your file:</p>

<p><img src="../../../coh/storage/app/media/resources/resourceNamingInstructions2.png" class="fr-fic fr-dii"></p>
<div class="flex">
	<div class="col-md-4"><img src="../../../coh/storage/app/media/resources/addResource.jpg" class="fr-fic fr-dii"></div>
	<div class="col-md-8">

		<h4>Add File:</h4>

		<p>Clicking here will let you upload your file. See instructions above on how to ensure your resources are organised into categories.</p>

		<h4>Enter Title:</h4>

		<p>This is the title which will be displayed to your participants.</p>

		<h4>Choose access type:</h4>

		<p>Select whether this resource is for Mentees, Mentors or both.</p>

		<h4>Choose when available:</h4>

		<p>Select whether this resource will be made available before or after the matching process.</p>
	</div>
</div>

<h2>What will the Participants see?</h2>

<p>For your Mentors and Mentees, they will see each of the resources you have made available to them. This view will be tailored to an individual’s requirements based on a number of factors including their role and match status at the time.</p>

<p><img src="../../../coh/storage/app/media/resources/resourceNamingInstructions.png" class="fr-fic fr-dii"></p>