[viewBag]
title = "Creating Thumbnails"
url = "/resources/creating-thumbnails"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Creating Thumbnails for Your Resources</h2>
<div class="flex">
	<div class="col-md-2"><img src="../../../coh/storage/app/media/resources/thumbnail.jpg" class="fr-fic fr-dii"></div>
	<div class="col-md-10">

		<p>By default, your file will be displayed with a generic thumbnail for your Mentees and Mentors.</p>

		<p>Custom Thumbnails are available on request. If you would like a custom thumbnail to be created for a given file, simply ask your Client Success Manager about this process. New resource thumbnails will be published to the website approximately every two weeks.</p>

		<p>At present, custom thumbnails are not available for URL resources.</p>
	</div>
</div>