[viewBag]
title = "Access to Resources"
url = "/resources/access-resources"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Allow Access to Resources without Logging in</h2>

<p>There will be times when you want to distribute a Resource without the need for Participants to log in. As an example, this guide will show you how to distribute the Participant Portal Help File in this way. To begin, go to your Resources Page and Select a Resource. Click Actions &gt; Copy Link for the chosen Resource.</p>

<p><img src="../../../coh/storage/app/media/resources/copyLink.png" class="fr-fic fr-dii"></p>

<p>Next, go to the Communications Tab, and click Create New to compose a new message.</p>

<p><img src="../../../coh/storage/app/media/resources/newComm.png" class="fr-fic fr-dii"></p>

<p>Choose your recipients. In this example, All Participants has been selected.</p>

<p><img src="../../../coh/storage/app/media/resources/recipients.png" class="fr-fic fr-dii"></p>

<p>Finally, compose your message and use the Link Tool to add your copied Resource URL to the page.</p>

<p><img src="../../../coh/storage/app/media/resources/message.png" class="fr-fic fr-dii"></p>