[viewBag]
title = "The Survey Page"
url = "/surveys/survey-page"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>The Survey Page</h2>

<p>At various stages throughout your Program it will be beneficial to collect information from your Mentees and Mentors to gauge their progress and the quality of their experiences. Surveys are an excellent tool for this and require minimal effort. If set up correctly at the beginning of a Program, the Surveys will trigger automatically at appropriate times through the course of the Program.</p>

<p>Surveys can be used to gather information from both Matched and/or non-Matched Mentees and Mentors, so it is important to plan out exactly how to configure each Survey to target exactly the Participants you want.</p>

<p>To begin, click on <strong>Programs &gt; Surveys</strong> on the left-hand Navigation where you will find the main Surveys Page. This lists all Surveys saved in your Program. Some may not yet be available, while (in a program that’s already started) others may have already finished.</p>

<p>In the Responses Column, you will see something like a fraction. The top number represents how many people have completed this survey, while the bottom number represents how many people are currently eligible to respond. These numbers show, in the case of the example Initial Program Survey shown below, zero out of two eligible people have completed the survey (0/2).</p>

<p><img src="../../../coh/storage/app/media/surveys/chrome_2018-11-16_14-54-02.png" class="fr-fic fr-dii"></p>