[viewBag]
title = "What Participants See"
url = "/surveys/what-participants-see"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>What Participants Will See</h2>
<div class="flex">
	<div class="col-md-6"><img src="../../../coh/storage/app/media/surveys/OUTLOOK_2018-11-20_08-58-05.png" class="fr-fic fr-dii"></div>
	<div class="col-md-6">

		<p>When a Survey is first made available, your Mentees and Mentors will be notified by email. When they login to the Platform, they will also have a Surveys Tile like the one shown on the following page. There will be an Alert Icon to draw their attention to the Surveys.</p>

		<p>On the Left you will see a sample email notification to complete a Survey called How is Your Mentoring Journey.</p>

		<p>It is important to remember that if you set the Survey to be triggered (for example) 6 Weeks after Match and your participants’ matches were not all Published on the same day, then different people in your Program will get the Survey Notification at different times.</p>
	</div>
</div>
<div class="flex">
	<div class="col-md-5"><img src="../../../coh/storage/app/media/surveys/chrome_2018-11-19_15-49-45.png" class="fr-fic fr-dii"></div>
	<div class="col-md-7">

		<p>Once a Participant clicks on the Survey Tile they will be taken to a list of all Surveys available to them at that time (see below). Sometimes this will only be a single Survey, at other times they may have a number of Surveys yet to complete.</p>

		<p>Clicking on a Survey here will take them to a page where the Survey can be completed.</p>
	</div>
</div>

<p><img src="../../../coh/storage/app/media/surveys/participantEnter.png" class="fr-fic fr-dii"><img src="../../../coh/storage/app/media/surveys/participantSurvey.png" class="fr-fic fr-dii"></p>

<p>A Participant will have just one opportunity to complete a survey. They can choose not to complete it immediately (any information they have entered will not be saved), however once they click the Submit Survey button the responses are locked and will instantly be added to the existing responses shown on the Results and Metrics tabs.</p>