[viewBag]
title = "Creating Surveys"
url = "/surveys/creating-surveys"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Creating a New Survey</h2>
<div class="flex">
	<div class="col-md-3">

		<p>To create a New Survey, go to the Surveys Page and click <strong>Create New</strong>.</p>

		<p>In the Dialogue box that appears, you must name the new Survey and choose the Recipients. There is more detail on this in the next section, Setting it up.</p>

		<p>Click <strong>Create</strong>.</p>

		<p>On the screen that appears click on the Builder Tab, then Edit to start adding some questions. Remember to click <strong>Save</strong> when you have finished your Survey.</p>

		<p>You can return to this edit page and make changes at any time, up until the survey is made available to the recipients.</p>
	</div>
	<div class="col-md-9"><img src="../../../coh/storage/app/media/surveys/newSurvey.png" class="fr-fic fr-dii"></div>
</div>

<p>The following is a Survey created using the above steps. Each of the three Questions Types is shown as an example. Refer to the section “What will Participants See” to see what this Survey looks like in the Participant Portal.</p>

<p><img src="../../../coh/storage/app/media/surveys/2018-11-16_15-00-53.png" class="fr-fic fr-dii"></p>
<hr>

<h3>Surveys – Setting it up</h3>
<div class="flex">
	<div class="col-md-5">

		<h4>1. Title</h4>

		<p>It is important to get the title right, as everyone in your target group will get an email asking them to complete this survey. It should be simple and unambiguous. The survey will be referred to throughout the platform by this title.</p>

		<h4>2. Recipient</h4>

		<p>The recipient is the target audience. You can specify any Group to be the recipient of your survey. Unless you are targeting your survey at a very niche part of your program audience (such as Matched Mentees from Victoria) it is advisable to stick with the built-in group names such as “Mentor”, “Mentee” or “All Participants”.</p>

		<p>Filtered Groups can give unexpected results at times, quite simply because they are dynamic and as people within your program change status or application answers they could potentially fall in or out of the group qualifying for your survey.</p>
	</div>
	<div class="col-md-7"><img src="../../../coh/storage/app/media/surveys/sur.jpg" class="fr-fic fr-dii"></div>
</div>

<h4>3. Surveys Available</h4>

<p>This area allows you to specify whether you intend your survey to target only matched, or also un-matched participants. There are only two available settings here, “Matched Participants” or “All Participants”.</p>

<p>There are times when this setting may override the setting from the previous step and vice-versa:</p>

<p>For instance, if in step 2 you selected the filtered group “Matched Mentors”, this would have already determined that the survey will only go to matched participants, no matter what you select in step 3.</p>

<p>Or, if in step 2 you selected the filtered group “All Participants”, then in step 3 selected “Matched Participants”, then the survey would only go to matched participants, not all.</p>

<p>Take the time to think through these settings carefully.</p>

<h4>4. Custom Date or Days After Match</h4>

<p>If you choose “Matched Participants” in step 3, as usual you can specify that a survey invitation be sent out on either a specific date (Custom Date) or a time after matching (Days After Match). If you choose “All Participants” in step 3, however, the “Days Sent After Match” option doesn’t make sense for unmatched participants, and cannot be chosen.</p>

<p><img src="../../../coh/storage/app/media/surveys/surveySteps.png" class="fr-fic fr-dii"></p>