[viewBag]
title = "Question Types"
url = "/surveys/question-types"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Question Types</h2>

<p>The types of questions that can be asked in a Survey are similar to those available for creating an Application and there are three different types from which you can select:</p>

<h4>1. Single Text Box</h4>

<p><img src="../../../coh/storage/app/media/surveys/a.jpg" class="fr-fic fr-dii"></p>

<p>This provides the Participant with an area into which they can type text. A maximum of 500 characters is permitted for each Text Box. Text responses can be seen in the Survey Results but not graphed. You can use this type of question to ask respondents to describe their experience, issues, suggestions and the like.</p>

<h4>2. Multiple Choice</h4>

<p><img src="../../../coh/storage/app/media/surveys/b.jpg" class="fr-fic fr-dii"></p>

<p>These are able to provide up to six different response options to select from, as well as an “Other” option at the end. This optional “Other” option is a Text Response area where Participants can type what they mean by “other” into the text box.</p>

<h4>3. Rating Scale</h4>

<p><img src="../../../coh/storage/app/media/surveys/c.jpg" class="fr-fic fr-dii"></p>

<p>A Rating Scale can ask up to six questions, each of which can have up to six different ratings.</p>