[viewBag]
title = "Results and Metrics"
url = "/surveys/results-and-metrics"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Results and Metrics Tabs</h2>

<p>When you create a Survey it is generally to get some meaningful feedback on aspects of the Program.</p>

<p>On the Results tab you can see each participant’s response to each question, including the text they have entered for any “Single Text Box” questions. This information is best viewed by doing a full export of the information. This is either done from the Results Tab by clicking Export, or alternatively in the full list of Surveys, a Champion can also click Action &gt; Export as shown below.</p>

<p><img src="../../../coh/storage/app/media/surveys/export.png" class="fr-fic fr-dii"></p>

<p>You can manipulate the exported data as you wish, but on the Metrics tab, we provide you with some clear and simple graphs and tables to help you visualise these results. These figures stay up-to-date as people complete their survey, and so are a good way to monitor the progress of your participants’ responses to the survey invitation. Note that the question type “Single Text Box” is not represented among these Metrics due to their being open-ended.</p>

<p><img src="../../../coh/storage/app/media/surveys/metrics.png" class="fr-fic fr-dii"></p>