[viewBag]
title = "Sending Reminders"
url = "/surveys/sending-reminders"
layout = "defaultWithSideBar"
is_hidden = 0
navigation_hidden = 0
==
<h2>Sending Reminders</h2>
<div class="flex">
	<div class="col-md-6">

		<p>On the Results tab of your Survey you will find a list of names, and lots of Send Reminder links. Once a Survey has been sent and the Mentors/Mentees have been notified these links appear, and you can send up to four reminders for each Survey in addition to the initial Survey Notification.</p>

		<p>The Send Reminder Links will be greyed out for some Participants, meaning you cannot send a reminder to this particular Mentee/Mentor, usually because they have already completed the Survey or the Participant is currently Suspended etc.</p>
	</div>
	<div class="col-md-6"><img src="../../../coh/storage/app/media/surveys/results.png" class="fr-fic fr-dii"></div>
</div>